// Accent colors
$color-yellow-tribune: #ffc200;
$color-blue-light: #a1d2df;
$color-blue-dark: #223136;
$color-teal-gray: #348094;
$color-red: #ff6047;
$color-sand: #f2ede2;

// Grayscale
$color-white-pure: #fff;
$color-white-off: #f3f3f3;
$color-gray-light: #d0d0d0;
$color-gray-medium: #797979;
$color-gray-dark: #4a4a4a;
$color-black-off: #222;
$color-black-pure: #000;

// Social colors
$color-facebook: #2d60c4;
$color-twitter: #55acee;

// Color applications
$color-link-underline: $color-blue-light;

// UI colors
$color-error: #ff6047;

// Splash
$color-fmd-blue-dark: #323a44;
$color-fmd-blue-light: #6c99c1;