node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
.flake8
.pylintrc
.editorconfig
env-docker
env-docker-test
server/templates/includes/base_icons.html
server/static/build
**/__pycache__
