env
**/*.pyc
env-docker
.env
/static/css/
/static/build/*.js
/static/build/*.css
/static/build/*.jpg
/static/build/*.json
/static/build/*.png
/static/build/*.svg
/static/build/*.map
node_modules/
.cache
.coverage
htmlcov
celerybeat-schedule.db
celerybeat.pid
npm-debug.log
.pytest_cache
# SVG sprite
/templates/includes/base_icons.html
**/__pycache__
.mypy_cache/
.vscode/
cov.html
