env
**/*.pyc
env-docker
.env
/static/css/
/static/build/*.js
/static/build/*.css
/static/build/*.jpg
/static/build/*.json
/static/build/*.png
node_modules/
.cache
.coverage
htmlcov
celerybeat-schedule.db
celerybeat.pid
yarn-error.log
.pytest_cache
# SVG sprite
/templates/includes/base_icons.html
**/__pycache__
