env
**/*.pyc
env-docker
env-docker-test
.env
server/static/css/
server/static/build/*.js
server/static/build/*.css
server/static/build/*.jpg
server/static/build/*.json
server/static/build/*.png
server/static/build/*.svg
server/static/build/*.map
node_modules/
.cache
.coverage
htmlcov
celerybeat-schedule.db
celerybeat.pid
npm-debug.log
.pytest_cache
# SVG sprite
server/templates/includes/base_icons.html
**/__pycache__
.mypy_cache/
.vscode/
cov.html
