Flask==1.0.2
gunicorn==19.9.0
pytz==2019.1
Flask-WTF==0.14.2
WTForms==2.2.1
stripe==2.17.0
celery==4.2.1
redis==2.10.6
validate_email==1.3
docopt==0.6.2
fuzzywuzzy==0.17.0
python-Levenshtein==0.12.0
flask-talisman==0.5.1
flask-limiter==1.0.1
sentry-sdk==0.6.6
blinker==1.4
amazon-pay==2.5.2
nameparser==1.0.2
