.form {
  // text/email inputs
  &__text {
    &.invalid {
      input {
        border-color: $color-error;
      }
    }

    input,
    select {
      background-color: #fbfbfb;
      border: 1px solid $color-gray-light;
      color: $color-black-pure;
      display: block;
      height: 45px;
      padding: 0 0 0 $size-b;
      width: 100%;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    label {
      @extend .form__label;
      @extend .grid_separator--xs;
    }

    // error message
    p {
      @extend .form__error;
      @extend .form__error--normal;
    }

    &--standard {
      input {
        font-size: $size-b;
        font-weight: normal;
      }
    }

    &--heavy {
      input {
        font-size: $size-l;
        font-weight: bold;
      }
    }
  }

  // error message
  &__error {
    color: $color-error;

    &--normal {
      font-size: $size-xs;
    }

    &--prominent {
      border: 1px solid $color-error;
      font-size: $size-s;
      padding: $size-b;
    }

    &--centered {
      text-align: center;
    }
  }

  // generic label
  &__label {
    color: $color-gray-dark;
    display: block;
    font-size: $size-xs;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
  }

  // radio buttons (it's assumed they're inside an unordered list)
  &__radios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;

    li {
      align-items: center;
      display: flex;
      margin-bottom: $size-b;
    }

    label {
      font-size: $size-b;
    }

    input {
      margin-right: 5px;
      margin-left: 1px;
    }

    &--serif {
      label {
        @include font-setting('secondary');
      }
    }

    &--always-stack {
      li {
        flex: 1 1 100%;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &--stack-at-medium {
      @include mq($until: bp-m) {
        li {
          flex: 1 1 100%;
        }
      }
    }
  }

  // fees checkbox and label
  &__fees {
    @extend .grid_row;
    align-items: center;

    input {
      margin-right: $size-b/2;
    }

    label {
      @extend .col_11;
      font-size: $size-xs;
    }

    span {
      font-weight: bold;
    }
  }

  // Stripe native payment button
  &__native {
    div {
      @extend .grid_separator--xs;
    }

    // link for going to manual pay
    p {
      @extend %link--teal;
      font-size: $size-b;
      text-align: center;
    }
  }

  // Stripe card input
  &__manual {
    & > div {
      background-color: #fbfbfb;
      border: 1px solid $color-gray-light;
      border-bottom-color: $color-yellow-tribune;
      padding: $size-xxs;
    }

    &.invalid {
      & > div {
        border-color: $color-error;
      }
    }

    // error message
    & > p {
      @extend .form__error;
      @extend .form__error--normal;
    }

    input {
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial;
    }
  }

  // form submit button
  &__submit {
    width: 100%;

    &:disabled {
      opacity: 0.5;
    }
  }
}

// hide reCAPTCHA badge
.grecaptcha-badge {
  visibility: hidden;
}


// Frequency display
.c-freq {
  position: relative;

  input {
    // cushion for the frequency display
    padding-right: 100px;
  }

  &__label {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}
