// Vue component used during membership drive
.thermometer {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .bar {
    border-radius: 30px;
    display: inline-block;
    flex-grow: 1;
    height: 30px;
    margin-right: $size-s;
    overflow: hidden;
    position: relative;
    border: 2px solid $color-yellow-tribune;

    &_inner {
      background-color: $color-yellow-tribune;
      border-radius: 30px;
      display: inline-block;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;

      &--actual {
        opacity: 1;
        transition: width 2s ease-in;
        width: 0; // width set inline by Vue.js
      }
      &--goal {
        // opacity: 0.2;
        width: 100%;
        background-color: #fff;
      }
    }
  }

  .text {
    flex-basis: 135px;
    font-size: $size-xs;
  }
}

.ribbon {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  display: block;

  @include mq($until: bp-s) {
    margin-bottom: $size-xxs;
  }
}

.align-center {
  align-items: center;
}

// comment out the following lines when we hide the thermometer
// section.splash {
//   margin-bottom: 0;
//   padding: $size-b 0;
//   text-align: center;
// }
// section .splash__headline {
//   padding-bottom: 0;
//   @include mq($from: bp-m) {
//     font-size: $size-xxl;
//   }
// }
// .c-message__text {
//   font-size: $size-s;
//   @include mq($from: bp-s) {
//     font-size: $size-b;
//   }
// }
// .c-message__inner {
//   max-width: 800px;
//   margin: 0 auto;
// }
// .c-faq-wrap {
//   background-color: #fff;
// }
// @include mq($from: bp-m) {
//   .l-swap--from-bp-m {
//     flex-direction: row-reverse;
//   }
// }
