// Accent colors
$color-yellow-tribune: #0e6fcc;
$color-blue-light: rgba(14, 111, 204, 0.15);
$color-teal-gray: #0e6fcc;
$color-white-off: #efece5;
$color-black-off: #272320;

$color-link-underline: $color-blue-light;
$color-link-underline-hover: $color-yellow-tribune;
