// Accent colors
$color-yellow-tribune: #098978;
$color-blue-light: rgba(14, 111, 204, 0.15);
$color-teal-gray: #098978;
$color-white-off: #efece5;
$color-black-off: #272320;
$color-tan: #FFFDEF;
$color-light-gray: #ccc;

$color-link-underline: $color-blue-light;
$color-link-underline-hover: $color-yellow-tribune;
