@import "../vendor/normalize";
@import "../vendor/mq";

@import "../utils/variables";
@import "../utils/colors";
@import "../utils/links";
@import "../utils/typography";
@import "../utils/grid";
@import "../utils/layout";
@import "../utils/buttons";
@import "../utils/images";
@import "../utils/fontawesome";
@import "../utils/lines";

@import "../components/footer";
@import "../components/navbar";

@import "../promo/quotes";

#charge {
  @extend .section-padding;

  .share {
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
  }

  .member_quotes {
    flex-direction: column;
  }
}
