@import "../vendor/normalize";
@import "../vendor/mq";

@import "../utils/variables";
@import "../utils/colors";
@import "../utils/links";
@import "../utils/typography";
@import "../utils/grid";
@import "../utils/layout";
@import "../utils/buttons";
@import "../utils/images";
@import "../utils/fontawesome";
@import "../utils/lines";
@import "../components/footer";
@import "../components/navbar";
@import "../components/forms";

html {
  @extend .font-sansserif;
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
}

.circle-donate {
  &__intro {
    color: $color-gray-dark;
    font-size: $size-s;
  }
}

.circle-form {
  &__bucket {
    border-width: 3px;
    border-color: $color-white-off;
    border-style: solid;
    padding: $size-xs;
    transition: border-color .2s;
    
    &.selected {
      border-color: $color-yellow-tribune;
    }
  }

  &__bucket-header {
    font-size: $size-m;
    font-weight: bold;
  }
}

.circle-wall {
  &__heading {
    @include mq($from: bp-s) {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    @include mq($from: bp-s) {
      justify-content: center;
    }
  }

  &__item {
    margin: 0 $size-xxs/2 $size-xxs/2 0;

    @include mq($until: bp-s) {
      flex: 1 1 100%;
    }
  }

  &__star {
    color: $color-yellow-tribune;
    font-size: $size-xs;
  }

  &__name {
    @include mq($from: bp-s) {
      font-size: $size-xs;
    }
  }
}

.circle-hero {
  background-color: #f2ede2;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  
  &__inner {
    padding: $size-xl;
  }

  &__title {
    border-bottom: 3px solid $color-yellow-tribune;
    font-size: $size-xl;
    padding-bottom: $size-b;
    text-align: center;

    @include mq($from: bp-s) {
      font-size: $size-giant;
    }
  }
}
