@import "../vendor/normalize";
@import "../vendor/mq";

@import "../utils/variables";
@import "../utils/colors";
@import "../utils/links";
@import "../utils/typography";
@import "../utils/grid";
@import "../utils/layout";
@import "../utils/buttons";
@import "../utils/images";
@import "../utils/fontawesome";
@import "../utils/lines";
@import "../components/footer";
@import "../components/navbar";
@import "../components/forms";

html {
  @extend .font-sansserif;
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
}
