@import "../vendor/normalize";
@import "../vendor/mq";

@import "../utils/variables";
@import "../utils/colors";
@import "../utils/links";
@import "../utils/typography";
@import "../utils/grid";
@import "../utils/layout";
@import "../utils/buttons";
@import "../utils/images";
@import "../utils/fontawesome";
@import "../utils/lines";
@import "../components/footer";
@import "../components/navbar";
@import "../components/forms";

@import '../promo/festival';
@import "../promo/quotes";

$animation-single-line-bp: 400px;
$color-fmd-blue-dark: #323a44;
$color-fmd-blue-light: #6c99c1;

html {
  @extend .font-sansserif;
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
}

h2 {
  @include mq($until: bp-m) {
    font-size: 1.3rem;
  }
}

.ribbon {
  width: 100%;
}

.splash {
  background-color: $color-sand;
  background-position-x: 50%;
  background-image: url('../img/TT-FMD18-BG_pattern-tile-grey.png');
  background-repeat: repeat;
  padding-bottom: $size-giant*2;
  padding-top: $size-giant*2;

  @include mq($until: bp-l) {
    padding-bottom: $size-b;
    padding-top: $size-b;
  }

  &--headline {
    @extend h1;
    color: $color-fmd-blue-dark;
    font-weight: bold;
    padding-bottom: $size-l;

    @include mq($from: bp-m) {
      font-size: $size-xl;
      padding-bottom: $size-m;
    }

    @include mq($from: bp-l) {
      font-size: 2.3rem;
      line-height: 1.25em;
    }

    @include mq($from: bp-xl) {
      font-size: 2.75rem;
    }

    @include mq($until: $animation-single-line-bp) {
      padding-bottom: 3.5rem;
    }
  }

  &_actions {
    align-items: center;
  }

  &--description {
    @extend %link--blue;
    color: $color-fmd-blue-dark;
    font-size: $size-b;
  }

  &--buttons {
    @include mq($from: bp-l) {
      padding-left: $size-xs;
    }

    .button {
      @include mq($from: bp-xl) {
        width: 44%;
      }
    }

    .button--yellow {
      background-color: $color-fmd-blue-light;
      border: 2px solid $color-fmd-blue-light;
      color: $color-white-pure;

      @include mq($from: bp-l) {
        line-height: 42px;
        height: 44px;
      }
    }

    .text {
      color: $color-fmd-blue-dark;
      font-size: $size-xs;
      padding-left: $size-xxs/2;
      padding-right: $size-xxs/2;
    }
  }
}

.rotate_words {
  span {
    animation: rotateWord 12s linear 0s 2;
    color: $color-fmd-blue-light;
    opacity: 0;
    overflow: hidden;
    position: absolute;

    &:nth-child(2) { animation-delay: 3s; }
    &:nth-child(3) { animation-delay: 6s; }
    &:nth-child(4) { animation: rotateWord 12s linear 9s 1, rotateLastWord 12s linear 21s 1 forwards; }
  }

  @include mq($until: $animation-single-line-bp) {
    display: block;
  }
}

@keyframes rotateWord {
  0%   { opacity: 0; }
  2%   { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px);}
  5%   { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  17%  { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  20%  { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px);}
  80%  { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes rotateLastWord {
  0%   { opacity: 0; }
  2%   { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px);}
  5%   { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  100%  { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
}

.list--bulleted {
  @extend .font-serif;

  li {
    font-size: $size-b;
    margin: 0 0 $size-b $size-m;
    @extend %link--blue;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contact {
  @extend %link--blue;

  p {
    @extend .font-sansserif;
    font-size: $size-s;
  }
}

.faq {
  background-color: $color-white-off;
}

.highlight {
  background-color: $color-yellow-tribune;
  display: inline-block;
  padding-left: $size-xxs;
  padding-right: $size-xxs;
}
