version: 2
jobs:
  build:
    working_directory: /app
    docker:
      - image: docker
        auth:
          username: ttcircleci
          password: $DOCKERHUB_TTCIRCLECI_PASSWORD
    steps:
      - checkout
      - setup_remote_docker:
            version: 19.03.13
      - run: |
          docker info
          docker build -f Dockerfile -t texastribune/checkout:dev .
          docker run -it --rm --workdir=/app --entrypoint=/app/circle.sh texastribune/checkout:dev
branches:
  ignore:
    - master
