// accent colors
$color-yellow-tribune: #ffc200;
$color-blue-light: #a1d2df;
$color-teal-gray: #539bae;
$color-red: #ff6047;
$color-sand: #f2ede2;

// grayscale
$color-white-pure: #fff;
$color-white-off: #f3f3f3;
$color-gray-background: #f1f2f5;
$color-gray-light: #d0d0d0;
$color-gray-medium: #797979;
$color-gray-dark: #4a4a4a;
$color-black-off: #222;
$color-black-pure: #000;

// social colors
$color-facebook: #2d60c4;
$color-twitter: #55acee;

// color applications
$color-link-underline: $color-blue-light;
