// Standard clearfix to clear floats/grid
.clearfix,
.clear {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Don't rename these classes without running regex-replace to catch usage in stories
.float {
  &_left,
  &_right {
    width: 50%;

    @include mq($until: bp-s) {
      width: 100%;
    }
  }

  &_left {
    float: left;
    margin: 0 $size-s $size-s 0;
  }

  &_right {
    float: right;
    margin: 0 0 $size-s $size-s;
  }
}

// apply to an element inside a parent that has position: relative
.vertical_center {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}

// apply directly to an element assuming it has display: block
.horizontal_center {
  margin-left: auto;
  margin-right: auto;
}

.text {
  &__center {
    text-align: center;
  }

  &__left {
    text-align: left;
  }

  &__right {
    text-align: right;
  }
}

.align {
  &__center {
    text-align: center;
  }

  &__left {
    text-align: left;
  }

  &__right {
    text-align: right;
  }
}

.align {
  &__center {
    text-align: center;
  }

  &__left {
    text-align: left;
  }

  &__right {
    text-align: right;
  }
}

// NOTE: all classes below are likely to be placed directly on elements for use with JS use caution when modifying these

// Hidden display styles
.hidden {
  display: none !important;
}

.hide_until--l {
  @include mq($until: bp-l) {
    display: none !important;
  }
}

.hide_from--l {
  @include mq($from: bp-l) {
    display: none !important;
  }
}

.print {
  &__hide {
    @media print {
      display: none !important;
    }
  }
}

.border {
  &--yellow {
    &_bottom {
      border-bottom: 3px solid $color-yellow-tribune;
    }

    &_left {
      border-left: 3px solid $color-yellow-tribune;
      padding-left: $size-b;
    }

    &_right {
      border-right: 3px solid $color-yellow-tribune;
      padding-right: $size-b;
    }

    // Small yellow separator, often used under headers
    &_notch {
      border-top: 5px solid $color-yellow-tribune;
      clear: both;
      color: $color-yellow-tribune;
      height: 0;
      margin-bottom: $size-b;
      text-align: left;
      width: 40px;
    }
  }
}

// https://stephanwagner.me/only-css-loading-spinner
.loading {
  position: relative;

  &:before {
    animation: spinner 1s linear infinite;
    border-radius: 50%;
    border: 5px solid $color-gray-light;
    border-top-color: $color-yellow-tribune;
    content: '';
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
  }

  &--s {
    @extend .loading;
    height: 250px;
  }
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}
