.blast_header {
  background-color: $black;
  margin-bottom: 1em;
  padding: 0 2em;
}

.blast_logo {
  margin: 1em 0;
  &--sub {
    float: right;
    margin: 1em 2.5em .5em .5em;
    width: 50%;
    @include media($mobile) {
      width: 75%;
    }
  }
}

.blastform {
  label,
  input {
    width: 100%;
  }

  #pay_fees {
    margin: 0px;
    width: 20px;
    height: 30px;
    @include media($tablet) {
      margin-left: 0;
    }
  }

  #pay-fee-amount {
    float: left;
    padding: .3em 0 0 .5em;
  }

  #pay-fee-info {
    clear: both;
    padding: 0;
    margin-bottom: 1em;
  }
}
