.blast_main {
  padding: 0 $size-b $size-b;
}

.blast_header {
  background-color: $color-black-pure;
  margin-bottom: $size-b;
  padding: 0 $size-b;
}

.blast_logo {
  margin: $size-b 0 0;
  &--sub {
    float: right;
    margin: $size-b $size-giant $size-b/2 $size-b/2;
    width: 50%;
    @include mq($until: bp-s) {
      width: 75%;
    }
  }

  img {
    max-width: 100%;
  }
}

.ttproduct {
  max-width: 250px;
  align-self: flex-end;
  margin: 0;

  figure {
    margin: 0;
    max-width: 250px;
  }
}

.blastform {
  label,
  input {
    width: 100%;
  }

  input[name="subscriber_email"] {
    margin-bottom: 0;
  }

  .form-subtext {
    font-size: .85em;
    margin-bottom: $size-b;
    padding: $size-b/4 0 0;
  }

  #pay_fees {
    margin: 0px;
    width: 20px;
    height: 30px;
    @include mq($until: bp-l) {
      margin-left: 0;
    }
  }

  #pay-fee-amount {
    float: left;
    padding: .3em 0 0 .5em;
  }

  #pay-fee-info {
    clear: both;
    padding: 0;
    margin-bottom: $size-b;
  }
}

.subscription li {
	box-sizing: border-box;
	display: inline-block;
	height: 130px;
	margin: 0 $size-s $size-b 0;
  position: relative;
  text-align: center;
	vertical-align: top;

  label {
    border: 2px solid $color-white-off;
    box-sizing: border-box;
    background-color: $color-white-pure;
    color: $color-black-off;
    cursor: pointer;
    display: block;
    height: 100%;
    hyphens: none;
    letter-spacing: .01em;
    line-height: 1;
    min-width: 0;
    padding: $size-s;
    transition: all .5s ease-in-out;
  	&:hover, &:focus {
      color: $color-black-off;
  	}
    &:active {
      background-color: transparentize($color-yellow-tribune, .8);
      color: $color-black-off;
  	}

    &.fake_option {
      cursor: default;
      &:active {
        background-color: $color-white-pure;
      }
    }
  }

  label:after {
    display: block;
    font-size: 1.5em;
    left: $size-s;
    line-height: 1.8;
    position: absolute;
    width: calc(100% - 2.2rem);
    @include mq($from: bp-s) {
      font-size: 2.5em;
    }
  }

  label:before {
    position: absolute;
    left: 0;
    right: 0;
  }

  label[for='amount-0']:after {
    content: '$349';
  }

  label.for-vip:after {
    content: '$275';
  }

  label.for-vip:before {
    content: 'Save $74';
    font-size: $size-xs;
    background-color: $color-yellow-tribune;
    bottom: 0;
    padding: $size-s 0;
  }

  label[for='amount-0']:before {
    content: '27% Savings';
    font-size: $size-xs;
    background-color: $color-yellow-tribune;
    bottom: 0;
    padding: $size-s 0;
  }

  label[for='amount-1']:after {
    content: '$40';
  }

  label[for='amount-2']:after {
    content: '$325';
    @include mq($from: bp-l) {
      font-size: 1.8em;
    }
  }

  label[for='amount-2']:before {
    content: 'For government agencies, nonprofits';
    font-size: $size-b/4;
    padding: 0 .25rem;
    bottom: .55rem;
    line-height: 1.1;
    letter-spacing: normal;
  }

  label[for='amount-reg']:after {
    content: url(../img/slash_price.svg);
    margin: $size-b/2 0;
  }

  label[for='amount-reg']:before {
    content: 'Regular Price';
    font-size: $size-b/4;
    padding: 0 .25rem;
    bottom: .55rem;
    line-height: 1.1;
    letter-spacing: normal;
  }

  /* Input style */

  input[type="radio"] {
  	opacity: 0;
  	width: 0;
    height: 0;
    margin: 0;
  }

  input[type="radio"]:active ~ label {
    opacity: 1;
  }

  input[type="radio"]:checked ~ label {
    border-color: $color-yellow-tribune;
    background-color: transparentize($color-yellow-tribune, .8);
    color: $color-black-off;
    opacity: 1;
  }
}

.discount {
  color: #D0021B;
  font-size: $size-m;
}
