$size-xxxl: 3rem; //Space between sections. Is there a better way to do this?
%section-padding {
  padding-top: $size-xxxl;
  padding-bottom: $size-xxxl;
}

html {
  @extend .font-sansserif;

  //This keeps the footer bar in place
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 60px;
}

// Masthead
.masthead {
  position: relative;
  padding-top: $size-s;
  padding-bottom: $size-xxs;
  img { height: 30px; }
}

// Header
.splash {
  @extend %section-padding;
  background-color: $color-sand;

  .grid_row {
    align-items: center;
  }
}
.splash_header {
  &--headline {
    padding-bottom: $size-l;
    border-bottom: 3px solid $color-yellow-tribune;
    @include mq($from: bp-l) {
      font-size: 2.5rem;
    }
    @include mq($from: bp-xl) {
      font-size: 3rem;
    }
  }
  &--description a {
    @extend %link--blue;
  }
}
.splash_box {
  background-color: transparentize($color-white-pure, .5);
  padding: $size-s;
}

// Content
.main {
  @extend %section-padding;
}

h3 {
  margin: 0 0 $size-b/2;
}

p {
  margin: 0 0 $size-b;
}

label {
  color: #7f7f7f;
  cursor: pointer;
  float: left;
  font-size: $size-s;
  font-weight: bold;
  letter-spacing: 2px;
  min-width: 150px;
  text-transform: uppercase;
}

input {
  font-size: $size-b;
  margin: $size-b/2 $size-b/2 $size-b 0;
  padding: .5em .25em;
}

input[type='text'] {
  width: 100%;
  border: 1px solid $color-gray-light;

  &.dollar {
    margin: 0 0 $size-b/2;
    padding: 0 $size-b/2 0 2rem;
    position: inherit;
    width: 100%;
  }

  &.uneditable {
    background-color: $color-white-off;
    border: none;
    padding: 0;
    margin: 0;
  }
}

// For hiding number input spinner on webkit browsers
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button, {
    -webkit-appearance: none;
    margin: 0;
}

.label-info {
  @extend .font-sansserif;
  font-size: $size-b;
  font-style: normal;
  margin: 0;
  padding: $size-b/4 0 $size-s 0;
}

// Form styles
.dollar {
  @extend .font-sansserif;
  color: $color-black-pure;
  font-size: $size-giant;
  font-weight: 700;
  margin: 0 0 0 $size-b/2;
  position: absolute;
}

.form__box {
  background-color: $color-white-off;
  padding: $size-l;
}

// Secret hidden field that sets recurring or one-time payment
#openended_status {
  display: none;
}

#pay_fees {
  clear: both;
  float: left;
}

#pay-fee-amount {
  float: left;
  font-size: $size-b;
  padding: $size-b/4 0 0 0;
}

#pay-fee-info {
  clear: both;
  font-size: $size-s;
  padding: 0;
  margin-bottom: 0;
}

.payment-buttons {
  display: inline-block;
  list-style: none;
  margin-bottom: $size-b;
  padding: 0;

  li {
    display: inline-block;
    margin-top: $size-b;
    vertical-align: middle;

    &:first-child {
      margin-right: $size-b;
    }
  }
}

// Stripe form submit button styles
.button {
  @extend .font-sansserif;
  color: $color-black-pure;
  font-size: $size-l;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-align: center;

  &:focus {
    outline: none;
  }
}

.button-flat {
  background-color: $color-yellow-tribune;
  border: 2px solid $color-yellow-tribune;
  color: $color-black-off;
  font-weight: 700;
  height: 45px;
  line-height: 0;
  text-align: center;
  width: 250px;

  &:hover {
    background-color: $color-white-pure;
    color: #222222;
    cursor: pointer;
  }
}

.button-applePay {
  -webkit-appearance: none;
  background-color: black;
  background-image: -webkit-named-image(apple-pay-logo-white);
  background-origin: content-box;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 60%;
  cursor: pointer;
  border: none;
  height: 45px;
  width: 150px;
}

// Error styles
.form-error {
  display: none;
}

.error-form-message {
  clear: both;
  color: red;
}

.info-list {
  li {
    font-size: $size-b;
    margin: 0 0 $size-b $size-m;
  }
}

.contact {
  .smallcaps--light {
    font-size: $size-xxs;
    margin-bottom: $size-b/4;
  }

  p {
    margin-bottom: $size-b/4;
  }

  &-list {
    list-style-type: none;

    li {
      @extend .unlink;
      font-size: $size-xs;
      margin: 0;

      a {
        color: $color-teal-gray;
      }
    }
  }
}

.radio_toggle {
  overflow: hidden;

  ul {
    display: flex;
  	list-style-type: none;

    > :last-child {
      margin-right: 0;
    }
  }

  li {
    flex: 0 1 33.33333%;
    margin-right: $size-b/2;
    max-width: 100%;
  }

  input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
  }

  label {
    background-color: $color-white-pure;
    border: 2px solid $color-yellow-tribune;
    border-radius: 4px;
    color: $color-black-off;
    font-size: $size-xs;
    font-weight: normal;
    padding: $size-b/2;
    text-align: center;
    text-shadow: none;
    transition: all 0.1s ease-in-out;
    min-width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  input:checked + label {
    background-color: $color-yellow-tribune;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.widget_nav {
  @extend %link--teal;
  list-style: none;

  a {
    font-weight: 400;
  }

  a:hover {
    font-weight: 400;
    text-decoration: none;
  }

  &--list {
    @extend .font-sansserif;
    background-color: $color-white-pure;
    border-top: 1px solid $color-gray-light;
    border-left: 5px solid $color-white-pure;
    color: $color-black-off;
    letter-spacing: .03em;
    margin-bottom: 0;
    padding: $size-b/2 $size-b;
    text-transform: uppercase;

    &:hover {
      border-left: 5px solid $color-yellow-tribune;
      color: $color-black-pure;
    }
  }

  &:last-child {
    border-bottom: 1px solid $color-gray-light;
  }
}
