.smd_buckets {
  @extend %section-padding;
  //border-bottom: 1px solid $color-gray-light;
}

.bucket_card {
  border: 1px solid $color-blue-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $size-xl $size-l $size-l;

  @include mq($until: bp-s) {
    &:first-child {
      margin-bottom: $size-l;
    }
  }

  &--goal {
    @extend .smallcaps;
    background-color: $color-sand;
    border-radius: 50px;
    border: 1px solid $color-sand;
    font-size: $size-xs;
    left: $size-l;
    padding: 2px $size-xxs;
    text-align: center;
    width: 130px;
  }

  &--complete {
    background-color: $color-blue-light;
    border-color: $color-blue-light;
    width: 180px;
  }

  &--description {
    @extend .font-sansserif;
    @extend %link--blue;
    font-size: $size-s;
  }
}
