// Masthead with logo
.masthead {
  @include outer-container;
  border-bottom: 2px solid #ffc200;
  margin-left: 0;
  img {
    padding: 1em 2em;
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(8);
    }
  }
}


// General styles
body {
  margin: 0;
}

.main {
  min-height: 500px;
  padding: 1em 0 2em 0;
}

.dollar {
  &.uneditable {
    border: none;
  }
}

.dollar {
  color: $black;
  font-family: "league-gothic";
  font-size: 3.5em;
  margin: 0;
  padding: 0 0.2em;
  width: 100px;
}


// Typography
html {
  font-family: $helvetica;
  font-size: 14px;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 0 0 0.5em 0;
}

a {
  color: $teal-tribune;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


// Stripe form submit button styles
.button {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em 1.8em;
  text-align: center;
  &:focus {
    outline: none;
  }
}

.button-flat {
  background-color: $yellow-tribune;
  border: none;
  color: $black;
  &:hover {
    @include fast-transition(background-color);
    background-color: $teal-tribune;
    color: $white;
    cursor: pointer;
  }
}


// Form styles
.form-outer-section {
  @include outer-container;
  border-bottom: 2px solid #ffc200;
  padding: 1em 0;
  &:last-child {
    border-bottom: none;
  }
  .form-section {
    &.three {
      @include span-columns(3);
    }
    &.four {
      @include span-columns(4);
    }
    &.three, .four {
      @include media($tablet) {
        @include span-columns(12);
        margin-top: 1em;
      }
    }
    &.break {
      clear: both;
    }
  }
}

form {
  padding: 0 2em;
}
label {
  color: #7f7f7f;
  cursor: pointer;
  float: left;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  min-width: 150px;
}
input {
  font-size: 1em;
}
input, select {
  margin: 0.5em 0.5em 1em 0;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: $white;
  border-radius: 5px;
  border: none;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  padding: 1em 0;
}
p {
  font-style: italic;
}
