// Masthead with logo
.masthead {
  @include outer-container;
  border-bottom: 2px solid #ffc200;
  img {
    padding: 1em 0 1em 2em;
    @include span-columns(5);
    @include media($mobile) {
      @include span-columns(8);
    }
  }
}


// General styles
.main {
  padding: 1.5em 0;
}


// Typography
html {
  font-family: $helvetica;
  font-size: 14px;
}


// Stripe button styles
.stripe-button-el {
  background-color: #ffc200 !important;
  background-image: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  color: black !important;
  text-shadow: none !important;
}
.stripe-button-el:hover {
  background-color: #008990 !important;
  color: white !important;
}
.stripe-button-el span:hover {
  background-color: #008990 !important;
  color: white !important;
}
.stripe-button-el span {
  background: #ffc200 !important;
  background-color: #ffc200 !important;
  background-image: none !important;
  border-radius: 0 !important;
  color: black !important;
  font-size: 1.2em !important;
  text-shadow: none !important;
}


// Form styles
form {
  padding: 0 2em;
}
label {
  font-size: 1.2em;
  font-weight: 500;
}
select {
  border-radius: 0;
}
p {
  font-style: italic;
  padding-left: 2em;
}
