html {
  @extend .font-sansserif;
  font-size: $size-s;
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 60px;
}

.main {
  padding: 0 $size-xxl $size-xxl;
}

.outer-section {
  @include outer-container;
  &.narrow {
    max-width: 800px;
  }
  .row {
    @include row();
    margin: 0 0 $size-b;
    @include media($tablet) {
      margin: 0;
    }
  }
  .nine {
    @include span-columns(9);
  }
  .eight {
    @include span-columns(8);
  }
  .six {
    @include span-columns(6);
  }
  .three {
    @include span-columns(3);
  }
  .four {
    @include span-columns(4);
  }
  .three, .four, .six, .nine {
    @include media($tablet) {
      @include span-columns(12);
    }
  }
}

ul {
  li {
    list-style-type: none;
  }
}

// Typography
h1 {
  font-size: $size-xl;
  font-weight: bold;
  letter-spacing: 0.03em;
  margin-top: $size-b;
}

h3 {
  margin: 0;
}

a {
  border-bottom: 1px solid $color-blue-light;
  box-shadow: inset 0 -1px 0 0 $color-blue-light;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:active {
    border-bottom: 1px solid $color-teal-gray;
    box-shadow: inset 0 -2px 0 0 $color-teal-gray;
    color: inherit;
    transition: all 0.8s ease;
  }

  &.unlink {
    border: 0;
    box-shadow: none;
    text-decoration: none;
    &:hover,
    &:active {
      border: 0;
      text-decoration: none;
    }
  }
}

p {
  margin: 0;
  padding: $size-b 0;
}

label {
  color: #7f7f7f;
  cursor: pointer;
  float: left;
  font-size: $size-s;
  font-weight: bold;
  letter-spacing: 2px;
  min-width: 150px;
  text-transform: uppercase;
}

input {
  font-size: $size-b;
  margin: $size-b/2 $size-b/2 $size-b 0;
  padding: .5em .25em;
}

input[type='text'] {
  width: 100%;
  &.dollar {
    margin: $size-b 0;
    padding: 0 $size-b;
    width: 100px;
  }
}

// For hiding number input spinner on webkit browsers
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button, {
    -webkit-appearance: none;
    margin: 0;
}

.label-info {
  @extend .font-sansserif;
  font-size: $size-l;
  font-style: normal;
  margin: 0;
  padding: $size-b/4 0 $size-s 0;
}


// Masthead with logo
.masthead {
  border-bottom: 2px solid $color-yellow-tribune;
  img {
    padding: $size-b $size-xxl;
    max-width: 100%;
  }
}

// Form styles

.dollar {
  @extend .font-sansserif;
  color: $color-black-pure;
  font-size: $size-giant;
  margin: 0;
  &.uneditable {
    border: none;
  }
}

.form__box {
  background-color: $color-white-off;
  padding: $size-b;
}

#pay_fees {
  clear: both;
  float: left;
  margin-left: $size-b/2;
}

#pay-fee-amount {
  float: left;
  font-size: $size-b;
  padding: $size-b/4 0 0 0;
}

#pay-fee-info {
  clear: both;
  font-size: $size-s;
  padding: 0;
  margin-bottom: $size-b;
}

// styles for openended status radio buttons on yearly member form
#openended_status {
  padding: 0;
  li {
    padding-left: $size-b/2;
  }
}

label[for='openended_status-0'], label[for='openended_status-1'] {
  float: none;
}

.payment-buttons {
  display: inline-block;
  list-style: none;
  margin-bottom: $size-b;
  padding: 0;

  li {
    display: inline-block;
    margin-top: $size-b;
    vertical-align: middle;

    &:first-child {
      margin-right: $size-b;
    }
  }
}

// Stripe form submit button styles
.button {
  color: $color-black-pure;
  @extend .font-sansserif;
  font-size: $size-l;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-align: center;

  &:focus {
    outline: none;
  }
}

.button-flat {
  background-color: $color-yellow-tribune;
  border: 2px solid $color-yellow-tribune;
  color: $color-black-off;
  font-weight: 700;
  height: 45px;
  line-height: 0;
  text-align: center;
  width: 250px;

  &:hover {
    background-color: $color-white-pure;
    color: #222222;
    cursor: pointer;
  }
}

.button-applePay {
  -webkit-appearance: none;
  background-color: black;
  background-image: -webkit-named-image(apple-pay-logo-white);
  background-origin: content-box;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 60%;
  cursor: pointer;
  border: none;
  height: 45px;
  width: 150px;
}

// Error styles
.form-error {
  display: none;
}

.error-form-message {
  clear: both;
  color: red;
}


// 404 and thank-you page images
.img-wrapper {
  text-align: left;
  img {
    padding: $size-b;
    width: 450px;
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
}


// Social share buttons
.social-wrapper {
  margin-bottom: $size-b;
  a:hover {
    text-decoration: none;
  }
}

.social {
  color: $color-white-pure;
  font-size: $size-b;
  margin: $size-b/2 $size-b/2 $size-b/2 0;
  &:hover {
    opacity: .9;
  }
}

.facebook {
  background: $color-facebook;
}

.twitter {
  background: $color-twitter;
}

.email {
  background: $color-yellow-tribune;
}
