.tk-proxima-nova {
  font-family: "proxima-nova", sans-serif;
}

.tk-league-gothic {
  font-family: "league-gothic", sans-serif;
}
.stripe-button-el {
  background-color: #ffc200 !important;
  background-image: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  color: black !important;
  text-shadow: none !important;
}
.stripe-button-el:hover {
  background-color: #008990 !important;
  color: white !important;
}
.stripe-button-el span:hover {
  background-color: #008990 !important;
  color: white !important;
}
.stripe-button-el span {
  background: #ffc200 !important;
  background-color: #ffc200 !important;
  background-image: none !important;
  border-radius: 0 !important;
  color: black !important;
  font-size: 1.2em !important;
  text-shadow: none !important;
}
form {
  padding: 0 2em;
}
.controls {
  padding: 0.2em 0 0.6em 0;
}
label {
  font-size: 1.2em;
  font-weight: 500;
}
.main {
  padding: 2em 0;
}
.masthead {
  border-bottom: 2px solid #ffc200;
}
#PaymentControl_txtBillAddress {
  width: 250px;
}
select {
  border-radius: 0;
}
p {
  font-style: italic;
  padding: 0 0 1em 2em;
}
