@import '1-settings/all';
@import '2-tools/all';
@import '3-generic/all';
@import '4-elements/all';

// Include components & objects as needed
@import '5-objects/grid';
@import '5-objects/images';
@import '5-objects/links';
@import '5-objects/typography';

@import '6-components/blastform';
@import '6-components/error-message';
@import '6-components/footer-minimal';
@import '6-components/masthead';
@import '6-components/splash';

@import '7-overrides/all';


// Sticky footer
// @todo - Create a helper for sticky footers
html {
  font-size: $size-s;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
