{% extends "new_layout.html" %}

{% block title %}Circle Membership | The Texas Tribune{% endblock %}

{% block og_meta %}
  <meta property="og:url" content="https://support.texastribune.org/circleform">
  <meta property="og:image" content="https://support.texastribune.org{{ url_for('static', filename='img/circle-social.jpg') }}">
  <meta property="og:title" content="Circle Membership | The Texas Tribune">
  <meta property="og:type" content="website">
  <meta property="og:description" content="At The Texas Tribune, members make all the difference. Join me in supporting the Tribune’s nonprofit newsroom by becoming a Circle Member today.">
{% endblock %}

{% block head_scripts %}
{% if form_data and message %}
<script>
  window.location.replace('#join-today');
</script>
{% endif %}
{% endblock %}

{% block content %}
  <main class="main">
    <!-- where the router component attaches -->
    <div id="app" style="display:none;"></div>

    <!-- hero component -->
    {% with helperClass="hero--circle print__hide", title="Join Our Circle",
    intro="The Texas Tribune is the only member-supported, digitally focused,
    nonpartisan news organization that informs and engages with Texans about
    public policy, politics, government and statewide issues.", cta="Our nonprofit
    newsroom depends on your support!" %} {% include "includes/hero.html" %} {%
    endwith %}

    <div class="grid_container grid_padded--xl">
      <section class="section-padding print__hide">
        <header class="circle-donate__header grid_container--m grid_separator">
          <div class="border--yellow_notch"></div>
          <h2 class="circle-donate__hed grid_separator">Your Circle Membership</h2>
          <div class="prose grid_separator--xl">
            <p>Circle Membership is a three-year commitment to provide backing for the vital work of our journalists.</p>
            <p>Circle Members believe in supporting our mission as a public service — free of charge on our website, in free syndication and at our numerous free public events — so all Texans have access to nonpartisan news and information.</p>
          </div>
        </header>
        <!-- for hash links when a form is invalid -->
        <div id="join-today"></div>
        <!-- where the form attaches -->
        <div id="circle-form"></div>

        <div class="prose grid_container--m">
          <br>
          <p>You can also <a href="{{ url_for('static', filename='pdf/circle-donate.pdf') }}">donate by mail</a>.</p>
        </div>
      </section>

      <section class="grid_container--m grid_separator--xl section-padding grid_padded print__hide">
        <header>
          <div class="border--yellow_notch"></div>
          <h2 class="link--blue grid_separator">Circle members receive <a href="/donate">all membership benefits</a>, plus:</h2>
        </header>

        <h3 class="smallcaps--light grid_separator"><strong>Exclusive Content</strong></h3>
        <div class="prose grid_separator--xl">
          <p>Special notifications and updates from Tribune leadership</p>
        </div>

        <h3 class="smallcaps--light grid_separator"><strong>Access Benefits</strong></h3>
        <ul class="list--bulleted grid_separator--xl">
          <li>Early registration to select Tribune events and VIP receptions</li>
          <li>Invitations to exclusive events as part of The Texas Tribune Festival</li>
          <li>Year-round reserved seating at Tribune statewide events</li>
        </ul>

        <h3 class="smallcaps--light grid_separator"><strong>Special Recognition</strong></h3>
        <div class="prose">
          <p>Exclusive recognition as a Texas Tribune Circle Member on our site</p>
        </div>
      </section>

      <div class="grid_container--l grid_separator--xl">
        <!-- where the wall component attaches -->
        <div id="circle-wall"></div>
      </div>

      <section class="grid_container--m section-padding grid_padded print__hide">
        <header>
          <div class="border--yellow_notch"></div>
          <h2 class="grid_separator circle-benefits__header">Questions?</h2>
        </header>
        <div class="contact grid_row grid_wrap--l grid_separator">
          <div class="col">
            <p class="grid_separator--s">For Circle Membership, major gifts and grants, contact:</p>
            <p><strong>Genevieve Genest</strong></p>
            <p>Development Director</p>
            <p class="grid_separator"><a href="mailto:genevieve.genest@texastribune.org">genevieve.genest@texastribune.org</a></p>
          </div>
          <div class="col">
            <p class="grid_separator--s">For <a href="https://www.texastribune.org/support-us/corporate-sponsors/">corporate sponsorships</a> and business membership, contact:</p>
            <p><strong>Robert Nusbaum</strong></p>
            <p>Vice President of Sales</p>
            <p>512-947-9017</p>
            <p><a href="mailto:rnusbaum@texastribune.org">rnusbaum@texastribune.org</a></p>
          </div>
        </div>
        <div class="contact grid_row grid_wrap--l grid_separator--l">
          <div class="col">
            <p class="grid_separator--s">For other membership questions, contact:</p>
            <p>512-993-0166</p>
            <p class="grid_separator"><a href="mailto:membership@texastribune.org">membership@texastribune.org</a></p>
          </div>
        </div>
      </section>

    </div>
  </main>
{% endblock %}

{% block bottom_script %}
  <script>
    window.__STRIPE_KEY__ = '{{ stripe }}';
    window.__RECAPTCHA_KEY__ = '{{ recaptcha }}';
  </script>

  {% if form_data and message %}
  <script>
    window.__TOP_FORM_SERVER_ERROR_MESSAGE__ = {{ message|tojson }};
    window.__CIRCLE_FORM_REHYDRATION__ = {{ form_data|tojson }};
  </script>
  {% endif %}

  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha }}"></script>
  <script>
    !function () {
      var script = document.createElement('script');
      script.async = true;
      script.src = 'https://risk.clearbit.com/v1/risk.js';
      var parent = document.getElementsByTagName('script')[0];
      parent.parentNode.insertBefore(script, parent);
    }();
  </script>

  {% for script in bundles['js'] %}
    <script src="{{ script }}"></script>
  {% endfor %}
{% endblock %}
