{% extends "new_layout.html" %}

{% block og_meta %}
  <meta property="og:url" content="https://support.texastribune.org/donate">
  <meta property="og:image" content="https://support.texastribune.org{{ url_for('static', filename='img/social.png') }}">
  <meta property="og:title" content="Support Us | The Texas Tribune">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Members make our journalism possible. Support The Texas Tribune with a donation today.">
  <meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block title %}Corporate Sponsors | The Texas Tribune{% endblock %}

{% block head_scripts %}
{% if form_data and message %}
<script>
  window.location.replace('#join-today');
</script>
{% endif %}
{% endblock %}

{% block content %}
  <main id="main-tt-content" class="l-container">
    <header class="has-page-padding" style="margin-top: 2rem">
      <h1 class="t-serif has-b-btm-marg">Our Supporters</h1>
      <div class="has-notch has-bg-yellow has-xxl-btm-marg"></div>
    </header>
    <div class="t-serif t-size-b has-page-padding">
      <div class="c-tabs has-text-gray-dark">
        <nav class="c-tabs__list has-xxl-btm-marg" aria-label="secondary">
          <a class="c-tabs__tab t-uppercase t-weight-bold t-size-xs t-lsp-m l-pos-rel has-xs-padding has-text-gray-dark" href="/members" style="font-family: sans-serif;">
            Individuals &amp; Foundations
          </a>
          <a class="c-tabs__tab t-uppercase t-weight-bold t-size-xs t-lsp-m l-pos-rel has-xs-padding c-tabs__tab--active has-text-teal" href="/corporate-sponsors" style="font-family: sans-serif;">
            Corporate Sponsors
          </a>
        </nav>
      </div>

      <div class="t-links-underlined">
        <p class="has-b-btm-marg">Our corporate sponsors share The Texas Tribune’s belief that promoting greater civic engagement and informed discourse is a direct route to a better and more productive Texas. They play no role in guiding the journalism produced by the Tribune or the planning and execution of events.</p>
        <p class="has-b-btm-marg">The Tribune enjoys several different types of corporate support: digital revenue (site, multimedia and email messaging); digital in-kind (products and services that offset operating expenses); events revenue (sponsorship of ongoing Tribune Events conversations and symposia and the annual Texas Tribune Festival); and events in-kind (products and services that offset Tribune events expenses).</p>
        <p class="has-b-btm-marg">If you are interested in becoming a corporate sponsor, please contact Robert Nusbaum, Vice President of Sales, at <a href="mailto:rnusbaum@texastribune.org">rnusbaum@texastribune.org</a>.</p>
        <p class="has-b-btm-marg">The Tribune is committed to full transparency into our funding. Current-year unaudited amounts listed below are updated daily and are subject to change.</p>
        <p class="has-b-btm-marg">When Texas Tribune reporting includes individuals or corporations who have given $1,000 or more to this organization, we disclose their names at the bottom of the article.</p>
        <p class="has-b-btm-marg">The Texas Tribune also earns income from <a href="https://festival.texastribune.org/">Texas Tribune Festival</a> ticket sales; outside rentals of <a href="https://texastribune.org/studio_919">Studio 919</a>, our events space; and subscriptions to <a href="https://texastribune.org/theblast/">The Blast</a>, our politics newsletter. That revenue is not reported here but can be found in aggregate on our most recent Form 990 found on our <a href="https://www.texastribune.org/about/documents/">financial documents page</a>.</p>
      </div>

      <p class="has-b-btm-marg">
          <a href="https://mediakit.texastribune.org/contact.html" class="c-button l-display-ib" style="font-family: sans-serif;">Become a sponsor</a>
      </p>

      <div data-frame-src="https://cdn.texastribune.org/media/sponsor-wall/index.html" data-frame-title="Texas Tribune Sponsor Wall"></div>
    </div>
  </main>
{% endblock %}


{% block bottom_script %}
<script src="https://unpkg.com/@newswire/frames@1.0.0/dist/frames.umd.js" integrity="sha384-X3ijtdRZmOFBaIuLUDY21bhJ3vf9LIwNuZUBAp90AQ7BSZo1Q9bZJi8NDQvJEJ4q" crossorigin></script>
<script>window.newswireFrames.autoInitFrames();</script>
{% endblock %}
