{% extends "new_layout_newsroom.html" %}

{% block content %}
  <main class="main">
    <section class="grid_container grid_padded--xl grid_separator--xl">
      <div class="grid_row grid_wrap--l gap-s">
        <div class="col_7">
          <div id="join-today" class="donation_form grid_separator--l">
            <!-- where the router component attaches -->
            <div id="app" style="display:none;"></div>
            <!--<div class="c-message grid_separator has-text-gray-dark t-size-s">
               <p>Use this area for timely messaging (eg. membership drive, giving Tuesday, etc.)</p>
            </div>-->
            <h2 class="grid_separator link--teal t-weight-normal">Support the creation of a new local newsroom in Waco today</h2>
            <!-- where the form attaches -->
            <div id="top-form"></div>
            <div class="grid_separator"></div>
          </div>
        </div>
        <div class="col_5">
          {% include 'includes/faq_waco.html' %}
        </div>
      </div>
    </section>

    <section class="section-padding grid_padded--xl has-bg-blue">
      <div class="member_benefits grid_container">
        {% include 'includes/benefits_waco.html' %}
      </div>

    </section>
  </main>
{% endblock %}

{% block bottom_script %}
  <script>
    window.__STRIPE_KEY__ = '{{ stripe }}';
    window.__RECAPTCHA_KEY__ = '{{ recaptcha }}';
  </script>

  {% if form_data and message %}
  <script>
    window.__TOP_FORM_SERVER_ERROR_MESSAGE__ = {{ message|tojson }};
    window.__BASE_FORM_REHYDRATION__ = {{ form_data|tojson }};
  </script>
  {% endif %}

  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha }}"></script>
  <script>
    !function () {
      var script = document.createElement('script');
      script.async = true;
      script.src = 'https://risk.clearbit.com/v1/risk.js';
      var parent = document.getElementsByTagName('script')[0];
      parent.parentNode.insertBefore(script, parent);
    }();
  </script>

  {% for script in bundles['js'] %}
    <script src="{{ script }}"></script>
  {% endfor %}
{% endblock %}


