<div class="c-benefits">
  <h2 id="benefits" class="grid_separator link--teal c-benefits__heading t-weight-normal">Be a supporter of {{ newsroom.title }}.</h2>

  <h4 class="grid_separator--s t-font-secondary t-weight-medium">Founding Benefactors</h4>
  <div class="prose">
    <p>A commitment of $10,000 or more per year</p>
  </div>

  <h4 class="grid_separator--s t-font-secondary t-weight-medium">Founders Circle</h4>
  <div class="prose">
    <p>A commitment from $1,000 to $9,999 per year</p>
  </div>

  <h4 class="grid_separator--s t-font-secondary t-weight-medium">Founding Neighbor Members</h4>
  <div class="prose">
    <p>A commitment from $12 to $999 per year</p>
  </div>

  <div class="prose grid_separator--l">
    <p class="font-primary">For more information about becoming a supporter, <strong>contact support@{{ newsroom.domain }}</strong></p>
  </div>
</div>
