<div class="c-benefits">
  <h2 id="benefits" class="grid_separator link--teal c-benefits__heading t-weight-normal">Be a Founding Supporter of the {{ newsroom.title }}.</h2>

  <h4 class="grid_separator--s t-font-secondary t-weight-medium">Founding Leadership Circle</h4>
  <div class="prose">
    <p>A donation or multi-year donation of $1,000+ per yea</p>
  </div>

  <h4 class="grid_separator--s t-font-secondary t-weight-medium">Founding Members</h4>
  <div class="prose">
    <p>A one time or monthly donation of up to $999 per year</p>
  </div>

  <div class="prose grid_separator--l">
    <p class="font-primary">For more information about becoming a Founding Supporter, <strong>contact community@{{ newsroom.domain }}</strong></p>
  </div>
</div>
