<section class="grid_container--m business-benefits grid_padded">
  <div class="prose grid_separator--xl">
    <p>You can also <a href="{{ url_for('static', filename='pdf/TT-BusinessMembership-contribution-form.pdf') }}">donate by mail</a>.</p>
  </div>

  <header>
    <div class="border--yellow_notch"></div>
    <h2 class="grid_separator">Questions?</h2>
  </header>

  <div class="contact contact--small grid_row grid_wrap--l grid_separator--l">
    <div class="col">
      <p class="grid_separator--s">For corporate sponsorships</a> and business membership, contact:</p>
      <p><strong>Andrea Kosar</strong></p>
      <p>General Manager</p>
      <p>737-802-6665</p>
      <p><a href="mailto:andrea.kosar@wacobridge.org">andrea.kosar@wacobridge.org</a></p>
    </div>
  </div>
</section>
