<section class="grid_container--m business-benefits grid_padded">
  <div class="prose grid_separator--xl">
    <p>You can also <a href="{{ url_for('static', filename='pdf/TT-BusinessMembership-contribution-form.pdf') }}">donate by mail</a>.</p>
  </div>

  <header>
    <div class="border--yellow_notch"></div>
    <h2 class="grid_separator">Questions?</h2>
  </header>

  <div class="contact contact--small grid_row grid_wrap--l grid_separator--l">
    <div class="col">
      <p class="grid_separator--s">For <a href="https://www.texastribune.org/support-us/corporate-sponsors/">corporate sponsorships</a> and business membership, contact:</p>
      <p><strong>Robert Nusbaum</strong></p>
      <p>Vice President of Sales</p>
      <p>512-947-9017</p>
      <p><a href="mailto:rnusbaum@texastribune.org">rnusbaum@texastribune.org</a></p>
    </div>
  </div>
  <div class="contact contact--small grid_row grid_wrap--l">
    <div class="col grid_separator--l">
      <p class="grid_separator--s">For other membership questions, contact:</p>
      <p>512-993-0166</p>
      <p><a href="mailto:membership@texastribune.org">membership@texastribune.org</a></p>
    </div>
    <div class="col">
      <p class="grid_separator--s">For major gifts or grants, contact:</p>
      <p><strong>Genevieve Genest</strong></p>
      <p>Development Director</p>
      <p><a href="mailto:genevieve.genest@texastribune.org">genevieve.genest@texastribune.org</a></p>
    </div>
  </div>
</section>
