<div class="has-bg-white-off c-faq-wrap is-rounded-b has-padding has-xxxs-btm-marg" style="border-top: 5px solid #323a44;">
  <h2 class="t-size-b has-b-btm-marg">Frequently Asked Questions</h2>
  <ul class="c-faq t-size-s has-xxs-btm-marg has-bg-white has-xs-padding is-rounded-b t-links-underlined">
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="How do I know if I’m a Texas Tribune member?">
          <h3 class="t-size-s">What is a Texas Tribune member?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">A Texas Tribune member is anyone who has made a donation of any amount within the past 365 days. A membership is considered lapsed one year from your last donation.</p>
        <p class="t-serif has-b-btm-marg">Check your membership status by creating an account at <a href="http://texastribune.org/signup">texastribune.org/signup</a>.</p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="Are donations to The Texas Tribune tax deductible?">
          <h3 class="t-size-s">Are donations to The Texas Tribune tax deductible?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">Yes. The Texas Tribune is a 501(c)(3) nonprofit organization, and donations are tax deductible to the extent of the law. Our EIN is 26-4527097</p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="What is a sustaining membership?">
          <h3 class="t-size-s">What is a sustaining membership?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">A sustaining membership means your donation recurs automatically on a monthly or yearly basis via credit card. Members with recurring gifts help the Tribune pursue big stories and budget for the future. Sustaining memberships also help eliminate lapses in your membership.</p>
        <p class="t-serif has-b-btm-marg">
          You can easily cancel or update the credit card information associated with your monthly or yearly donation on your Tribune account.
          <a href="https://texastribune.org/login">Log in</a>, then update your payment information from the “Membership” tab.
        </p>
        <p class="t-serif has-b-btm-marg">
          Don’t have a Tribune account?
          <a href="https://texastribune.org/login">Sign up</a> to view your donation history and membership status, update card information for recurring donations and download your yearly tax receipt.
          <a href="https://www.texastribune.org/account-faq">Learn more about Tribune accounts.</a>
        </p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="How do I cancel a monthly or yearly donation?">
          <h3 class="t-size-s">How do I cancel a monthly or yearly donation?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">
          We understand circumstances change. You may cancel a recurring gift at any time by
          <a href="https://texastribune.org/signup">signing up</a> or
          <a href="https://texastribune.org/login">logging into</a> your Texas Tribune account.
        </p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="How can I renew my membership?">
          <h3 class="t-size-s">How can I renew my membership?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">Make a new donation to the Tribune to renew your membership. A donation makes you a Texas Tribune member for one year.</p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="Can I send my donation by mail?">
          <h3 class="t-size-s">Can I send my donation by mail?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">
          Yes! Simply fill out
          <a href="https://static.texastribune.org/media/files/05bff0670c9f9331ca78dc8c3dfaaa76/Membership-Checkform_12-22-2023.pdf">this donation form</a>
          and mail it to:
        </p>
        <p class="t-serif has-b-btm-marg">
          <span class="t-sans t-size-s">
            <em>
              The Texas Tribune<br />
              Membership Department<br />
              919 Congress Avenue<br />
              Sixth Floor<br />
              Austin, Texas 78701<br />
            </em>
          </span>
        </p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-ga-dropdown" data-qa-title="FAQ" data-qa-question="Do Texas Tribune members get any perks?">
          <h3 class="t-size-s">Do Texas Tribune members get any perks?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">
          Texas Tribune members receive a monthly newsletter with a look inside the Tribune newsroom, plus
          <a href="https://www.texastribune.org/member-benefits/">other benefits throughout the year</a>.
        </p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="What if I want to give more?">
          <h3 class="t-size-s">What if I want to give more?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">
          For three-year commitments of $1,000 or more, join our
          <a href="https://support.texastribune.org/circle.html">Circle Membership</a>
          program.
        </p>
        <p class="t-serif has-b-btm-marg">
          For major gifts or grants, contact:<br />
          <span class="t-sans t-size-s">
            <em>
              <strong>Genevieve Genest</strong><br />
              Development Director<br />
              <a href="mailto:genevieve.genest@texastribune.org">genevieve.genest@texastribune.org</a>
            </em>
          </span>
        </p>
        <p class="t-serif has-b-btm-marg">
          To make a tax-deductible gift in the name of a business, contact Robert Nusbaum to join our
          <a href="/business">Business Membership</a> program.
        </p>
        <p class="t-serif has-b-btm-marg">
          For
          <a href="https://www.texastribune.org/support-us/corporate-sponsors/">corporate sponsorships</a>
          and business membership, contact:<br />
          <span class="t-sans t-size-s">
            <em>
              <strong>Robert Nusbaum</strong><br />
              Vice President of Sales<br />
              512-947-9017<br />
              <a href="mailto:rnusbaume@texastribune.org">rnusbaum@texastribune.org</a>
            </em>
          </span>
        </p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="Still have questions?">
          <h3 class="t-size-s">What if I still have questions?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">
          For questions about membership:<br />
          Leave us a message at 512-993-0166<br />
          Email us at
          <a href="mailto:membership@texastribune.org">membership@texastribune.org</a>
        </p>
      </details>
    </li>
  </ul>
  <div class="c-faq__login has-padding t-align-right">
    Already a member? <a class="t-weight-bold has-text-teal" href="/account">Log in</a>
  </div>
</div>

<script>
  (function () {
    // Tracking opened questions in GTM
    var summary = document.querySelectorAll('.gtm-custom-qa-dropdown');
    function onOpen(title, question) {
      if ( window.dataLayer !== undefined ) {
        window.dataLayer.push({
          event: 'faqDonations',
          gaLabel: question,
        });
      }
    }
    function onClick() {
      var openAttr = this.parentNode.getAttribute('open');
      var question = this.dataset.qaQuestion || "";
      var title = this.dataset.qaTitle || "";
      if(!openAttr && typeof(openAttr) !== 'string') {
        onOpen(title, question);
      }
    }
    for (var i = 0; i < summary.length; i++) {
      summary[i].addEventListener('click', onClick);
    }
  }());
</script>
