<div class="has-padding has-xxxs-btm-marg" style="background-color: #EFECE5; padding-top:2rem;">
  <h2 class="has-b-btm-marg t-font-secondary t-weight-medium t-size-m" style="margin-left: 1rem;">Frequently Asked Questions</h2>
  <ul class="c-faq t-size-s has-xxs-btm-marg has-bg-white has-xs-padding t-links-underlined" style="border-radius: 15px;">
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="How do I know if I’m a Texas Tribune member?">
          <h3 class="t-size-s t-weight-medium">Who is behind this effort?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-faq__icon--alt c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#long-arrow-right"></use>
            </svg>
          </span>
        </summary>
        <p class="has-b-btm-marg">The Texas Tribune, a nonprofit, nonpartisan statewide news organization, is evolving to support local news as a means of bringing more Texans closer to news and information.</p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="Are donations to The Texas Tribune tax deductible?">
          <h3 class="t-size-s t-weight-medium">Who is supporting a new local newsroom in Waco?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-faq__icon--alt c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#long-arrow-right"></use>
            </svg>
          </span>
        </summary>
        <p class="has-b-btm-marg">The Texas Tribune is leading this work with support from local foundations, community leaders and residents of Waco and McLennan County.</p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="What is a sustaining membership?">
          <h3 class="t-size-s t-weight-medium">Why Waco?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-faq__icon--alt c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#long-arrow-right"></use>
            </svg>
          </span>
        </summary>
        <p class="has-b-btm-marg">The city is growing fast, and residents’ information needs are growing, too. </p>
        <p class="has-b-btm-marg">A 2021 study on Waco conducted by a leading venture philanthropy organization found overwhelming support for more news and information presented in new ways to serve more people. Waco’s growth and development, as well as its key location in the I-35 corridor, adds to the community’s growing need.</p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="How do I cancel a monthly or yearly donation?">
          <h3 class="t-size-s t-weight-medium">What will the newsroom report on?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-faq__icon--alt c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#long-arrow-right"></use>
            </svg>
          </span>
        </summary>
        <p class="has-b-btm-marg">This newsroom, made up of reporters who live in Waco, will provide free news and information on issues like economic development, public education, health care and other topics that matter most to Wacoans. This coverage will include guides on how to give and receive help.</p>
        <p class="has-b-btm-marg">The newsroom will also hold community conversations with a focus on bridging gaps and discussing solutions to local challenges.</p>
        <p class="has-b-btm-marg">This news and information will supplement the good work done by Waco’s current local media, and it will be free to read and free to republish. This newsroom will also partner with local media in its effort to serve the community to the fullest extent.</p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="How can I renew my membership?">
          <h3 class="t-size-s t-weight-medium">When will the newsroom launch?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-faq__icon--alt c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#long-arrow-right"></use>
            </svg>
          </span>
        </summary>
        <p class="has-b-btm-marg">Our newsroom launched in Spring of 2025 with regular newsletter content. Subscribe to our newsletter on the homepage!</p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="How can I renew my membership?">
          <h3 class="t-size-s t-weight-medium">Is my donation restricted for the Waco Local News Initiative?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-faq__icon--alt c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#long-arrow-right"></use>
            </svg>
          </span>
        </summary>
        <p class="has-b-btm-marg">Yes! You may earmark your tax-deductible gift for our Waco initiative by using this secure online donation form or informing General Manager Andrea Kosar at <a href="mailto:andrea.kosar@{{ newsroom.domain }}">andrea.kosar@{{ newsroom.domain }}</a>.

        </p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="Can I send my donation by mail?">
          <h3 class="t-size-s t-weight-medium">Can I send my donation by mail?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-faq__icon--alt c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#long-arrow-right"></use>
            </svg>
          </span>
        </summary>
        <p class="has-b-btm-marg">
          Yes! Simply fill out
          <a href="https://static.texastribune.org/media/files/05bff0670c9f9331ca78dc8c3dfaaa76/Membership-Checkform_12-22-2023.pdf">this donation form</a>
          and mail it, with your check, to:
        </p>
        <p class="has-b-btm-marg">
          <span class="t-sans t-size-s">
            <em>
              Waco Local News Initiative<br />
              The Texas Tribune<br />
              919 Congress Avenue, Sixth Floor<br />
              Austin, TX 78701<br />
            </em>
          </span>
        </p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="What if I want to give more?">
          <h3 class="t-size-s t-weight-medium">For local philanthropic support, please reach out to:</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-faq__icon--alt c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#long-arrow-right"></use>
            </svg>
          </span>
        </summary>
        <p class="has-b-btm-marg">
          <span class="t-sans t-size-s">
            <em>
              <strong>Andrea Kosar</strong><br/>
              General Manager<br/>
              (737) 802-6665<br/>
              <a href="mailto:andrea.kosar@{{ newsroom.domain }}">andrea.kosar@{{ newsroom.domain }}</a>
            </em>
          </span>
        </p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="What if I want to give more?">
          <h3 class="t-size-s t-weight-medium">For local corporate sponsorships and business membership, contact:</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-faq__icon--alt c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#long-arrow-right"></use>
            </svg>
          </span>
        </summary>
        <p class="has-b-btm-marg">
          <span class="t-sans t-size-s">
            <em>
              <strong>Andrea Kosar</strong><br />
              General Manager<br />
              (737) 802-6665<br />
              <a href="mailto:andrea.kosar@{{ newsroom.domain }}">andrea.kosar@{{ newsroom.domain }}</a>
            </em>
          </span>
        </p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="Still have questions?">
          <h3 class="t-size-s t-weight-medium">What if I still have questions?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-faq__icon--alt c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#long-arrow-right"></use>
            </svg>
          </span>
        </summary>
        <p class="has-b-btm-marg">
          Contact:<br />
          <span class="t-sans t-size-s">
            <em>
              <strong>Andrea Kosar</strong><br />
              General Manager<br />
              <a href="mailto:andrea.kosar@{{ newsroom.domain }}">andrea.kosar@{{ newsroom.domain }}</a>
            </em>
          </span>
        </p>
      </details>
    </li>
  </ul>
</div>

<script>
  (function () {
    // Tracking opened questions in GTM
    var summary = document.querySelectorAll('.gtm-custom-qa-dropdown');
    function onOpen(title, question) {
      if ( window.dataLayer !== undefined ) {
        window.dataLayer.push({
          event: 'faqDonations',
          gaLabel: question,
        });
      }
    }
    function onClick() {
      var openAttr = this.parentNode.getAttribute('open');
      var question = this.dataset.qaQuestion || "";
      var title = this.dataset.qaTitle || "";
      if(!openAttr && typeof(openAttr) !== 'string') {
        onOpen(title, question);
      }
    }
    for (var i = 0; i < summary.length; i++) {
      summary[i].addEventListener('click', onClick);
    }
  }());
</script>
