<div class="has-bg-white-off is-rounded-b has-padding has-xxxs-btm-marg" style="border-top: 5px solid #323a44;">
  <h2 class="t-size-b has-b-btm-marg">Frequently Asked Questions</h2>
  <ul class="c-faq t-size-s has-xxs-btm-marg has-bg-white has-xs-padding is-rounded-b t-links-underlined">
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="How do I know if I’m a Texas Tribune member?">
          <h3 class="t-size-s">Who is behind this effort?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">The Texas Tribune, a nonprofit, nonpartisan statewide news organization, is evolving to support local news as a means of bringing more Texans closer to news and information.</p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="Are donations to The Texas Tribune tax deductible?">
          <h3 class="t-size-s">Who is supporting a new local newsroom in Waco?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">The Texas Tribune is leading this work with support from local foundations, community leaders and residents of Waco and McLennan County.</p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="What is a sustaining membership?">
          <h3 class="t-size-s">Why Waco?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">Texas is growing fast, and Texans’ information needs are growing, too.</p>
        <p class="t-serif has-b-btm-marg">A 2021 study on Waco conducted by a leading venture philanthropy organization found overwhelming support for more news and information presented in new ways to serve more people. Waco’s growth and development, as well as its key location in the I-35 corridor, adds to the community’s growing need.</p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="How do I cancel a monthly or yearly donation?">
          <h3 class="t-size-s">What will the newsroom report on?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">This newsroom, made up of reporters who live in Waco, will provide free news and information on issues like economic development, public education, health care and other topics that matter most to Wacoans. This coverage will include guides on how to give and receive help.</p>
        <p class="t-serif has-b-btm-marg">The newsroom will also hold community conversations with a focus on bridging gaps and discussing solutions to local challenges.</p>
        <p class="t-serif has-b-btm-marg">This news and information will supplement the good work done by Waco’s current local media, and will be free to read and free to republish. This newsroom will also partner with local media in its effort to serve the community to the fullest extent.</p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="How can I renew my membership?">
          <h3 class="t-size-s">When will the newsroom launch?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">We expect to be fully operational in early 2025.</p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="How can I renew my membership?">
          <h3 class="t-size-s">Is my donation restricted for the Waco Local News Initiative?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">Yes. You may earmark your tax-deductible gift for our Waco initiative by using this secure online donation form or informing Senior Major Gifts Officer James Canup at
          <a href="mailto:james.canup@texastribune.org">james.canup@texastribune.org</a> or (512) 658-4516.
        </p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="Can I send my donation by mail?">
          <h3 class="t-size-s">Can I send my donation by mail?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">
          Yes! Simply fill out
          <a href="https://static.texastribune.org/media/files/05bff0670c9f9331ca78dc8c3dfaaa76/Membership-Checkform_12-22-2023.pdf">this donation form</a>
          and mail it, with your check, to:
        </p>
        <p class="t-serif has-b-btm-marg">
          <span class="t-sans t-size-s">
            <em>
              Waco Local News Initiative<br />
              The Texas Tribune<br />
              919 Congress Avenue, Sixth Floor<br />
              Austin, TX 78701<br />
            </em>
          </span>
        </p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="What if I want to give more?">
          <h3 class="t-size-s">For local philanthropic support, please reach out to:</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">
          <span class="t-sans t-size-s">
            <em>
              <strong>James Canup</strong><br/>
              Senior Major Gifts Officer<br/>
              (512) 658-4516<br/>
              <a href="mailto:james.canup@texastribune.org">james.canup@texastribune.org</a>
            </em>
          </span>
        </p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="What if I want to give more?">
          <h3 class="t-size-s">For local corporate sponsorships and business membership, contact:</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">
          <span class="t-sans t-size-s">
            <em>
              <strong>April Hinkle</strong><br />
              Chief Revenue Officer<br />
              (512) 716-8634<br />
              <a href="mailto:ahinkle@texastribune.org">ahinkle@texastribune.org</a>
            </em>
          </span>
        </p>
      </details>
    </li>
    <li class="c-faq__item">
      <details>
        <summary class="c-faq__summary l-pos-rel gtm-custom-qa-dropdown" data-qa-title="FAQ" data-qa-question="Still have questions?">
          <h3 class="t-size-s">What if I still have questions?</h3>
          <span class="c-icon c-icon--baseline t-size-xs c-faq__icon c-icon l-height-full l-pos-abs">
            <svg aria-hidden="true">
              <use href="#caret-down"></use>
            </svg>
          </span>
        </summary>
        <p class="t-serif has-b-btm-marg">
          Contact:<br />
          <span class="t-sans t-size-s">
            <em>
              <strong>Natalie Choate</strong><br />
              Chief Operating Officer<br />
              <a href="mailto:nchoate@texastribune.org">nchoate@texastribune.org</a>
            </em>
          </span>
        </p>
      </details>
    </li>
  </ul>
</div>

<script>
  (function () {
    // Tracking opened questions in GTM
    var summary = document.querySelectorAll('.gtm-custom-qa-dropdown');
    function onOpen(title, question) {
      if ( window.dataLayer !== undefined ) {
        window.dataLayer.push({
          event: 'faqDonations',
          gaLabel: question,
        });
      }
    }
    function onClick() {
      var openAttr = this.parentNode.getAttribute('open');
      var question = this.dataset.qaQuestion || "";
      var title = this.dataset.qaTitle || "";
      if(!openAttr && typeof(openAttr) !== 'string') {
        onOpen(title, question);
      }
    }
    for (var i = 0; i < summary.length; i++) {
      summary[i].addEventListener('click', onClick);
    }
  }());
</script>
