{% from "./includes/icon.html" import icon %}
<footer>
  <div
    id="site_footer"
    class="c-site-footer c-site-footer--standard has-bg-black-off has-text-white t-size-xs"
  >
    <div
      class="l-container l-container--xl c-site-footer__inner c-site-footer__inner--standard"
    >
      <div class="c-site-footer__col c-site-footer__col--1">
        <span
          class="c-icon c-icon--yellow c-site-footer__logo has-giant-btm-marg"
          style="font-size: 4rem"
        >
          <svg aria-hidden="true"><use xlink:href="#bug"></use></svg>
        </span>
        <div
          class="has-notch has-notch--thin has-bg-yellow has-b-btm-marg"
          aria-hidden="true"
        ></div>
        <ul class="c-site-footer__links c-site-footer__links--standard">
          <li>
            <a href="https://support.texastribune.org/account/" title="View your giving history" ga-event-category="navigation" ga-event-action="footer link click" ga-event-label="view your giving history">View your giving history</a>
          </li>
          <li>
            <a
              href="https://www.texastribune.org/contact/"
              title="Contact us"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="contact us"
              >Contact us</a
            >
          </li>
          <li>
            <a
              href="https://mediakit.texastribune.org/"
              title="Advertise"
              class="advertise"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="advertise"
              >Advertise</a
            >
          </li>
          <li>
            <a
              href="https://www.texastribune.org/about/tips/"
              title="Send a Tip"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="send us a confidential tip"
              >Send us a confidential tip</a
            >
          </li>
          <li>
            <a
              href="https://texastribune.org"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="copyright"
              >&copy; {% include "./includes/copyright_year.html" %} The Texas
              Tribune</a
            >
          </li>
        </ul>
      </div>
      <div
        id="footer-sections"
        class="c-site-footer__col c-site-footer__col--2 is-hidden-until-bp-m"
      >
        <h2
          class="c-site-footer__header t-size-xs has-text-yellow t-uppercase has-xxs-btm-marg"
        >
          Topics
        </h2>
        <ul class="c-site-footer__links c-site-footer__links--standard">
          {% include "./includes/section_list_items.html" %}
        </ul>
      </div>
      <div class="c-site-footer__col c-site-footer__col--3">
        <h2
          class="c-site-footer__header t-size-xs has-text-yellow t-uppercase has-xxs-btm-marg"
        >
          Info
        </h2>
        <ul class="c-site-footer__links c-site-footer__links--standard">
          <li>
            <a
              href="https://www.texastribune.org/about/"
              title="About Us"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="about us"
              >About Us</a
            >
          </li>
          <li>
            <a
              href="https://www.texastribune.org/about/staff/"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="our staff"
              >Our Staff</a
            >
          </li>
          <li>
            <a
              href="https://www.texastribune.org/about/jobs/"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="jobs"
              >Jobs</a
            >
          </li>
          <li>
            <a
              href="https://www.texastribune.org/support-us/donors-and-members/"
              title="Who Funds Us?"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="who funds us"
              >Who Funds Us?</a
            >
          </li>
          <li>
            <a
              href="https://www.texastribune.org/about/texas-tribune-strategic-plan/"
              title="Strategic Plan"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="strategic plan"
              >Strategic Plan</a
            >
          </li>
          <li>
            <a
              href="https://www.texastribune.org/republishing-guidelines/"
              title="Republishing Guidelines"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="republishing guidelines"
              >Republishing Guidelines</a
            >
          </li>
          <li>
            <a
              href="https://www.texastribune.org/about/ethics/"
              title="Code of Ethics"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="code of ethics"
              >Code of Ethics</a
            >
          </li>
          <li>
            <a
              href="https://www.texastribune.org/about/terms-of-service/"
              title="Terms of Service"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="terms of service"
              >Terms of Service</a
            >
          </li>
          <li>
            <a
              href="https://www.texastribune.org/about/privacy-policy/"
              title="Privacy Policy"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="privacy policy"
              >Privacy Policy</a
            >
          </li>
          <li>
            <a
              href="https://www.texastribune.org/corrections/"
              title="Corrections"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="corrections"
              >Corrections</a
            >
          </li>
          <li>
            <a
              href="https://www.texastribune.org/about/feeds/"
              title="Feeds"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="feeds"
              >Feeds</a
            >
          </li>
          <li>
            <a
              href="https://www.texastribune.org/about/subscribe/"
              title="Newsletters"
              ga-event-category="subscribe intent"
              ga-event-action="footer link"
              >Newsletters</a
            >
          </li>
          <li>
            <a
              href="https://www.texastribune.org/audio/"
              title="Audio"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="audio"
              >Audio</a
            >
          </li>
          <li>
            <a
              href="https://www.texastribune.org/video/"
              title="Video"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="video"
              >Video</a
            >
          </li>
        </ul>
      </div>
      <div class="c-site-footer__col c-site-footer__col--4">
        <h2
          class="c-site-footer__header t-size-xs has-text-yellow t-uppercase has-xxs-btm-marg"
        >
          Social Media
        </h2>
        <ul class="c-site-footer__links c-site-footer__links--standard">
          <li>
            <a
              href="http://facebook.com/texastribune"
              title="Facebook"
              class="external"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="facebook"
              >{{ icon('facebook', align_base=True,
              extra_classes='c-site-footer__icon') }}Facebook</a
            >
          </li>
          <li>
            <a
              href="http://twitter.com/texastribune"
              title="Twitter"
              class="external"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="twitter"
              >{{ icon('twitter', align_base=True,
              extra_classes='c-site-footer__icon') }}Twitter</a
            >
          </li>
          <li>
            <a
              href="http://youtube.com/user/thetexastribune"
              title="YouTube"
              class="external"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="youtube"
              >{{ icon('youtube', align_base=True,
              extra_classes='c-site-footer__icon') }}YouTube</a
            >
          </li>
          <li>
            <a
              href="http://instagram.com/texas_tribune"
              title="Instagram"
              class="external"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="instagram"
              >{{ icon('instagram', align_base=True,
              extra_classes='c-site-footer__icon') }}Instagram</a
            >
          </li>
          <li>
            <a
              href="http://www.linkedin.com/company/texas-tribune"
              title="LinkedIn"
              class="external"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="linkedin"
              >{{ icon('linkedin', align_base=True,
              extra_classes='c-site-footer__icon') }}LinkedIn</a
            >
          </li>
          <li>
            <a
              href="https://www.reddit.com/user/texastribune"
              title="Reddit"
              class="external has-xxs-btm-marg l-display-ib"
              ga-event-category="navigation"
              ga-event-action="footer link click"
              ga-event-label="reddit"
              >{{ icon('reddit', align_base=True,
              extra_classes='c-site-footer__icon') }}Reddit</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
