<footer class="c-footer-newsroom has-bg-black-off has-text-white t-size-b">
  <div class="c-footer-newsroom__inner">
    <div class="c-footer-newsroom__col c-footer-newsroom__col--1">
      <div class="c-footer-newsroom__logo">
        <svg viewBox="0 0 180 180" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="180" height="180" fill="white" />
        </svg>
      </div>
    </div>
    <div class="c-footer-newsroom__col c-footer-newsroom__col-2">
      <ul class="has-b-btm-marg">
        <li>
          <a href="#" class="has-text-white">About</a>
        </li>
        <li>
          <a href="#" class="has-text-white">Jobs</a>
        </li>
        <li>
          <a href="#" class="has-text-white">Support</a>
        </li>
        <li>
          <a href="#" class="has-text-white">Facebook</a>
        </li>
        <li>
          <a href="#" class="has-text-white">TexasTribune.org</a>
        </li>
      </ul>
      <ul class="t-size-s">
        <li>
          <a href="#" class="has-text-white">Privacy Policy</a>
        </li>
        <li>
          <a href="#" class="has-text-white">Terms of Service</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
