<div class="grid_row grid_wrap--m form-outer-section">
  <div class="form-section col">
    {{ form.first_name.label }}<br>
      {{ form.first_name(maxlength=50) }}
  </div>
  <div class="form-section col">
    {{ form.last_name.label }}<br>
      {{ form.last_name(maxlength=50) }}
  </div>
</div>
<div class="grid_row grid_wrap--m form-outer-section">
  <div class="form-section col">
    {{ form.reason.label }}
      {{ form.reason(maxlength=100) }}
  </div>
</div>
  {{ form.pay_fees_value(value="False") }}
  {{ form.installment_period(value=installment_period) }}
<div class="form-outer-section">
  <div class="form-section form-error">
    <p class="error-form-message"></p>
  </div>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <div class="submit submit--woApple grid_separator--s grid_row">
    <button class="col button button--yellow button--l button--donate">Donate</button>
  </div>

  <div class="submit submit--wApple grid_separator--s grid_row hidden">
    <button class="col_6 button button--yellow button--l button--donate">Pay by card</button>
    <span class="col_1 text_separator">or</span>
    <button id="applePayButton" class="col_6 button button--l button--applePay">&nbsp;</button>
  </div>

  <p>Prefer to mail a check? Use our <a href="https://static.texastribune.org/media/files/d134f9dac031375a29d7c3d94f7d9d73/Membership-Checkform.pdf">membership form</a>. Our mailing address is 919 Congress Avenue, Sixth Floor, Austin, TX 78701.</p>
</div>
