<div class="quotes section-padding">
  <div class="border--yellow_notch"></div>
  <div class="smallcaps grid_separator--s">Why members give</div>

  <p class="quotes__quote">“#ISupportTexasTribune because it's professional, non-biased, and Texas-based. Also non-profit.”</p>
  <p class="quotes__attribution grid_separator--l">&mdash; <a href="https://twitter.com/dgloss1951/status/1465716689031544835">Dana</a></p>

  <p class="quotes__quote">“#ISupportTexasTribune because they do great political reporting in Texas!”</p>
  <p class="quotes__attribution grid_separator--l">&mdash; <a href="https://twitter.com/technolibrary/status/1466196739900252164">Carolyn</a></p>

  <p class="quotes__quote">“#ISupportTexasTribune because of its great investigative reporting that holds wrongdoers’ feet to the fire.”</p>
  <p class="quotes__attribution grid_separator--l">&mdash; <a href="https://twitter.com/HalMarshall2309/status/1465797982549422082">Hal</a></p>

  <p class="quotes__quote">“#ISupportTexasTribune because we need good journalism in our 2nd largest state.”</p>
  <p class="quotes__attribution grid_separator--l">&mdash; <a href="https://twitter.com/McGloinKingPLLC/status/1465743378042302470">Jamie</a></p>
</div>
