{% from "./includes/icon.html" import icon %}
<section class="grid_container grid_padded--xl grid_separator--xl">
    <div class="grid_row smd_buckets section-padding">
      <div class="col_12">
        <h1 class="grid_separator">This Spring Member Drive, join our people-powered newsroom.</h1>
        <div class="prose grid_separator--l">
          <p>No newsroom invests more in reporting on Texas for Texans than The Texas Tribune. If you value reporting that tells the true story of our state &mdash; with all the nuance that comes with a population of 29 million people &mdash; <strong>help us raise $60,000 this Spring Member Drive</strong> by <a href="#join-today">giving today</a>.</p>
        </div>
        <div class="smallcaps highlight grid_separator--xl">Your donation will help us ...</div>
        <div class="bucket_row grid_row grid_wrap--s grid_separator--l" id="smd-goals" >
          <div class="col bucket_card">
            <h3 class="bucket_card--title grid_separator--s">Deepen our border coverage</h3>
            <div class="bucket_card--description grid_separator">Texas shares more than 1,200 miles of borderland with Mexico, putting our state at the center of policy conversations around immigration and border security. Help us continue to report out the important stories emerging from our southern border with the context that only a Texas-based organization like ours can provide.</div>
            <!-- <div class="bucket_card--goal">Goal: $15,000</div> -->
            <div class="bucket_card--goal bucket_card--complete">{{ icon('check', align_base=True) }} $15,000 Goal Met!</div>
          </div>
          <div class="col bucket_card">
            <h3 class="bucket_card--title grid_separator--s">Kick our 2020 coverage into high gear</h3>
            <div class="bucket_card--description grid_separator">With two Texans in the crowded 2020 field, there are more eyes &mdash; and dollars &mdash; on our state than ever before. Help us ask the questions Texans need answers to, keep tabs on campaign finance and follow the races here at home that will decide whether our House majority flips for the first time in 18 years.</div>
            <!-- <div class="bucket_card--goal">Goal: $20,000</div> -->
            <div class="bucket_card--goal bucket_card--complete">{{ icon('check', align_base=True) }} $20,000 Goal Met!</div>
          </div>
        </div>
        <div class="bucket_row grid_row grid_wrap--s">
          <div class="col bucket_card">
            <h3 class="bucket_card--title grid_separator--s">Keep tabs on voting rights</h3>
            <div class="bucket_card--description grid_separator">This year’s botched review of state voter rolls put Texas voting rights issues on the national stage once again. Help us continue to take a solutions-oriented approach to covering this issue by focusing on the people affected by it.</div>
            <!-- <div class="bucket_card--goal">Goal: $15,000</div> -->
            <div class="bucket_card--goal bucket_card--complete">{{ icon('check', align_base=True) }} $15,000 Goal Met!</div>
          </div>
          <div class="col bucket_card">
            <h3 class="bucket_card--title grid_separator--s">Extend the reach of our events &amp; podcasts</h3>
            <div class="bucket_card--description grid_separator">Thousands of Texans tune into our live events and podcasts every year. Help us maintain our accessible-for-all approach by making indexed transcriptions a part of our podcast and events workflow.</div>
            <!-- <div class="bucket_card--goal">Goal: $10,000</div> -->
            <div class="bucket_card--goal bucket_card--complete">{{ icon('check', align_base=True) }} $10,000 Goal Met!</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  