<section class="has-m-btm-marg c-message">
  <div class="c-message__inner">
    <div class="c-message__promo">
      <div>
        <img width="77" height="77" class="c-message__profile" src="{{ url_for('static', filename='img/sonal-headshot.png')}}" />
      </div>
      <p class="t-align-left has-s-btm-marg c-message__text"><strong>A note from Texas Tribune CEO Sonal Shah:</strong> I am personally donating $100 for each monthly or yearly pledge before the end of the year, up to $5,000. Will you become a sustaining member today?</p>
    </div>
    <div class="grid_container grid_padded--xl">
      <div class="grid_row grid_wrap--s align-center">
        <div class="col_3">
          <img class="ribbon" src="{{ url_for('static', filename='img/membership-logo.svg')}}" />
        </div>
        <div class="col_12">
          <!-- Vue component attaches to this div -->
          <div id="thermometer"></div>
        </div>
      </div>
    </div>
  </div>
</section>
