<section class="has-m-btm-marg c-message">
  <div class="c-message__inner">
    <p class="t-align-center has-s-btm-marg c-message__text"><strong>One day only!</strong> Your gift is doubled for Giving Tuesday.</p>
    <div class="grid_container grid_padded--xl">
      <div class="grid_row grid_wrap--s align-center">
        <div class="col_3">
          <img class="ribbon" src="{{ url_for('static', filename='img/membership-logo.svg')}}" />
        </div>
        <div class="col_12">
          <!-- Vue component attaches to this div -->
          <div id="thermometer"></div>
        </div>
      </div>
    </div>
  </div>
</section>
