<div class="border--yellow_notch"></div>
<h2 class="grid_separator link--teal">Benefits by giving level</h2>

<h4 class="grid_separator--s">Member - Donate up to $49/year</h4>
<ul class="list--bulleted grid_separator--l">
  <li>Our official Texas Tribune member decal.</li>
  <li>Behind-the-scenes access to the Texas Tribune newsroom, including Q&As with our reporters and sneak peeks at special projects via our monthly member newsletter and quarterly stakeholder reports.</li>
  <li>Our utmost gratitude and a special place on our <a href="https://www.texastribune.org/support-us/donors-and-members/#2018">growing donor wall</a>.</li>
</ul>

<h4 class="grid_separator--s">Informed member - Donate $50 to $99/year</h4>
<div class="prose grid_separator--l">
  <p>Benefits include all of the above, plus <b>special perks at <a href="https://festival.texastribune.org">Texas Tribune Festival</a></b>, our annual meeting of the brightest minds in politics and policy.</p>
</div>

<h4 class="grid_separator--s">Engaged member - Donate $100 to $499/year</h4>
<div class="prose grid_separator--l">
  <p>Benefits include all of the above, plus invites to fun exclusive experiences geared toward connecting you with political insiders, Tribune community members and industry colleagues.</p>
</div>

<h4 class="grid_separator--s" ga-event-category="donations" ga-event-action="benefits visible" ga-event-label="support landing">Involved member - Donate $500 to $999/year</h4>
<div class="prose grid_separator--l">
  <p>Benefits include all of the above, plus discounted rental rates for our <a href="https://www.texastribune.org/studio-919/downtown-austin-event-space-congress/">Studio 919</a> event space.</p>
</div>

<h4 class="grid_separator--s">Giving circles</h4>
<div class="prose grid_separator--l">
  <p>Circle members provide sustainable support with three-year commitments to fund our newsroom. Members receive all of the Involved benefits plus access to exclusive events and behind-the-scenes information. <a href="https://support.texastribune.org/circleform"> Read more about the Circle Membership </a></p>
</div>
<ul class="list--bulleted grid_separator--l">
  <li>Editor’s Circle - $1,000/year for three years</li>
  <li>Leadership Circle - $2,500/year for three years</li>
  <li>Chairman’s Circle - $5,000/year for three years</li>
</ul>

<h4 class="grid_separator--s">Business membership</h4>
<div class="prose grid_separator--l">
  <p>Make a contribution in your organization's name and join a roster of community-minded businesses supporting our public interest newsroom.  Members are featured on a support page with link to business site, mentioned on The Brief, and receive an official Texas Tribune Business Member decal and card. <a href="https://support.texastribune.org/business"> Read more about the Business Membership </a></p>
</div>
<ul class="list--bulleted">
  <li>Hat's Off - $500/year</li>
  <li>Lone Star - $1,500/year</li>
  <li>Big Tex - $2,500/year</li>
</ul>
