<div class="border--yellow_notch"></div>
<h2 class="grid_separator">
  Our members are part of a growing community of civically engaged Texans.
</h2>

<div class="prose">
  <p>As a <a href="https://www.texastribune.org/about">nonprofit newsroom</a>, we rely on members to help keep our stories free and our events open to the public. Join <a href="https://www.texastribune.org/support-us/donors-and-members/">thousands</a> who already support The Texas Tribune with <nobr>their donations.</nobr></p>
</div>

<div class="smallcaps grid_separator">Members receive ...</div>
<ul class="list--bulleted">
  <li>Behind-the-scenes access to the Texas Tribune newsroom, including Q&As with our reporters and sneak peeks at special projects.</li>
  <li>$50 off <a href="https://festival.texastribune.org/">Texas Tribune Festival</a> badges, as well as priority entry to all panel dicsussions. Texas Tribune Festival is our annual, three-day meeting of the brightest minds in politics and policy — an opportunity to connect with people, like you, who care about the future of Texas. <a href="https://festival.texastribune.org/registration">Register here</a>.</li>
  <li>Our utmost gratitude and a special place on our <a href="https://www.texastribune.org/support-us/donors-and-members/#2018">growing donor wall</a>.</li>
</ul>
