<div id="safariAlert" style="background-color: #223136; color: #fff; padding: 10px; position: -webkit-sticky; position: sticky; top: 0; z-index: 1; font-size: .92rem" class="hidden">👋 Hi! Looks like you’re using the latest version of Safari — good on you for updating! While we work on a fix to be compatible with this version, can you switch to another browser (like Chrome or Firefox) to make your donation? Thanks for your support!</div>
<script>
var isSafari = window.ApplePaySession;
var uaString = navigator.userAgent;
var isVersion = false;
if (uaString.indexOf("Version/12.1") > -1 || uaString.indexOf("Version/12.2") > -1) {
  isVersion = true;
}
if(isSafari && isVersion) {
  document.getElementById('safariAlert').classList.remove('hidden')
}
</script>
