  <header class="opening-pitch grid_container--m grid_separator">
    <!-- IDs are for ARIA usage in the form -->
    <h2 id="opening-pitch-hed" class="opening-pitch__hed grid_separator--xs">Your Business Membership</h2>
    <div id="opening-pitch-intro">
      <p class="opening-pitch__intro">Business Members believe in supporting our public-service mission so all Texans have access to nonpartisan news and information — free of charge on our website, in partner newspapers and TV and radio stations, and at our dozens of public events.</p>
    </div>
  </header>

