
<section class="grid_container--m business-questions section-padding grid_padded">
    <header>
        <p class="grid_separator business-questions__header">Questions?</p>
    </header>
    <div class="contact grid_row grid_wrap--l grid_separator">
    <div class="col">
        <p class="grid_separator--s">For <a href="https://www.texastribune.org/support-us/corporate-sponsors/">corporate
          sponsorships</a> and business membership, contact:</p>
        <p><strong>April Hinkle</strong></p>
        <p>Chief Revenue Officer</p>
        <p>512-716-8634</p>
        <p><a href="mailto:ahinkle@texastribune.org">ahinkle@texastribune.org</a></p>
      </div>
      <div class="col">
        <p class="grid_separator--s">For major gifts or grants, contact:</p>
        <p><strong>Terry Quinn</strong></p>
        <p>Chief Development Officer</p>
        <p>512-716-8613</p>
        <p class="grid_separator"><a href="mailto:tquinn@texastribune.org">tquinn@texastribune.org</a></p>
      </div>
    </div>
    <div class="contact grid_row grid_wrap--l grid_separator--l">
      <div class="col">
        <p class="grid_separator--s">For other membership questions, contact:</p>
        <p><strong>Hamzah</strong></p>
        <p>Member Relations</p>
        <p>512-716-8695</p>
        <p class="grid_separator"><a href="mailto:hamzah@texastribune.org">hamzah@texastribune.org</a></p>
      </div>
    </div>
</section>
