<section class="grid_container--m business-benefits grid_padded">
  <div class="prose grid_separator--xl">
    <p>You can also <a href="{{ url_for('static', filename='pdf/TT-BusinessMembership-contribution-form.pdf') }}">donate by mail</a>.</p>
  </div>

  <header>
    <div class="border--yellow_notch"></div>
    <h4 class="grid_separator">Questions?</h4>
  </header>

  <div class="contact contact--small grid_row grid_wrap--l grid_separator--l">
    <div class="col">
      <p class="grid_separator--s">For <a href="https://www.texastribune.org/support-us/corporate-sponsors/">corporate sponsorships</a> and business membership, contact:</p>
      <p><strong>April Hinkle</strong></p>
      <p>Chief Revenue Officer</p>
      <p>512-716-8634</p>
      <p><a href="mailto:ahinkle@texastribune.org">ahinkle@texastribune.org</a></p>
    </div>
  </div>
  <div class="contact contact--small grid_row grid_wrap--l">
    <div class="col grid_separator--l">
      <p class="grid_separator--s">For other membership questions, contact:</p>
      <p><strong>Hamzah Khan</strong></p>
      <p>Member Relations</p>
      <p>512-716-8695</p>
      <p><a href="mailto:hkhan@texastribune.org">hkhan@texastribune.org</a></p>
    </div>
    <div class="col">
      <p class="grid_separator--s">For major gifts or grants, contact:</p>
      <p><strong>Terry Quinn</strong></p>
      <p>Chief Development Officer</p>
      <p>512-716-8613</p>
      <p><a href="mailto:tquinn@texastribune.org">tquinn@texastribune.org</a></p>
    </div>
  </div>
</section>
