<div class="grid_container grid_padded--xl">
  <div class="grid_row grid_wrap--l grid_separator--l">
    <div class="col_8">

      <div class="border--yellow_notch"></div>
      <h2 class="grid_separator">Frequently Asked Questions</h2>

      <h4 class="grid_separator--s">What is a sustaining membership?</h4>
      <div class="prose grid_separator--l"><p>A sustaining membership means your donation recurs automatically on a monthly or yearly basis via credit card. This provides the Tribune with the sort of predictable revenue that allows us to plan budgets a few years at a time, and it helps eliminate renewal mailings or lapses in your membership.</p></div>

      <h4 class="grid_separator--s">How can I renew my membership?</h4>
      <div class="prose grid_separator--l"><p>Sustaining memberships automatically renew on a monthly or yearly basis. If you need to update your billing information, or your membership is up for renewal soon, please contact <a href="mailto:membership@texastribune.org">membership@texastribune.org</a>.</p></div>

      <h4 class="grid_separator--s">Can I send my donation by mail?</h4>
      <div class="prose grid_separator"><p>Yes! Simply fill out <a href="https://static.texastribune.org/media/marketing/TT-919-Membership_Contribution_Form.pdf">this donation form</a> and mail it to: </p></div>

      <div class="contact grid_row grid_separator--l">
        <div class="col">
          <p><strong>Texas Tribune Membership</strong></p>
          <p>919 Congress Avenue</p>
          <p>Sixth Floor</p>
          <p>Austin, Texas 78701</p>
        </div>
      </div>

      <h4 class="grid_separator--s">What if I want to give more?</h4>
      <div class="prose grid_separator"><p>For three-year commitments of $1,000 or more, join our <a href="https://support.texastribune.org/circle.html">Circle Membership</a> program. To make a tax-deductible gift in the name of a business, contact April Hinkle to join our Business Membership program.</p></div>

      <div class="contact grid_row grid_wrap--l grid_separator--l">
        <div class="col grid_separator">
          <p class="grid_separator--s">For <a href="https://www.texastribune.org/support-us/corporate-sponsors/">corporate sponsorships</a> and business membership, contact:</p>
          <p><strong>April Hinkle</strong></p>
          <p>Chief Revenue Officer</p>
          <p>512-716-8634</p>
          <p><a href="mailto:ahinkle@texastribune.org">ahinkle@texastribune.org</a></p>
        </div>
        <div class="col">
          <p class="grid_separator--s">For major gifts or<br />grants, contact:</p>
          <p><strong>Terry Quinn</strong></p>
          <p>Chief Development Officer</p>
          <p>512-716-8613</p>
          <p><a href="mailto:tquinn@texastribune.org">tquinn@texastribune.org</a></p>
        </div>
      </div>

      <h4 class="grid_separator--s">Still have questions?</h4>
      <div class="contact grid_row grid_wrap--l grid_separator--l">
        <div class="col">
          <p class="grid_separator--s">For questions about membership, contact:</p>
          <p><strong>Sarah Glen</strong></p>
          <p>Loyalty Program Director</p>
          <p>512-716-8696</p>
          <p class="grid_separator"><a href="mailto:sglen@texastribune.org">sglen@texastribune.org</a></p>
        </div>
        <div class="col">
        </div>
      </div>

    </div>
  </div>
</div>
