<div class="grid_row festival_promo">
  <div class="col_12">
    <div class="border--yellow_notch"></div>
    <h2 class="grid_separator">Members, get $50 off Texas Tribune Festival tickets</h2>
    <div class="prose grid_separator">
      <p>Registration for our annual <a href="https://festival.texastribune.org/">Texas Tribune Festival</a> is officially open, with big changes coming this fall — including a full additional day of programming and more opportunities to connect with people, like you, who care about the future of Texas. Texas Tribune members enjoy $50 off per badge, as well as priority entry to all panel discussions in our regular program. <a href="https://festival.texastribune.org/registration">Register here</a>.</p>
    </div>
    <div class="contact">
      <p><strong>Note:</strong> Check your inbox for member discount code; if you haven't received or have questions about your membership status, contact <a href="mailto:membership@texastribune.org">membership@texastribune.org</a>.</p>
    </div>
  </div>
</div>
