<footer>
  <div id="site_footer" class="site_footer">
    <div class="grid_container grid_row">
      <div class="col">
        <figure class="site_footer--logo">
          <img src="../static/img/TxTrib-bug-logo.svg" alt="">
        </figure>
        <ul>
          <div class="border--yellow_notch"></div>
          <li>
            <a href="https://www.texastribune.org/contact/" title="Contact Us">Contact Us</a>
          </li>
          <li>
            <a href="https://mediakit.texastribune.org/" title="Advertise" class="advertise">Advertise</a>
          </li>
          <li><a href="https://texastribune.org">&copy; 2018 The Texas Tribune</a></li>
        </ul>
      </div>
      <div id="footer-sections" class="col hide_until--s">
        <h5 class="site_footer--header">Topics</h5>
        <ul>
          {% include "./includes/section_list_items.html" %}
        </ul>
      </div>
      <div class="col">
        <h5 class="site_footer--header">Info</h5>
        <ul>
          <li>
            <a href="https://www.texastribune.org/about/" title="About Us">About Us</a>
          </li>
          <li>
            <a href="https://www.texastribune.org/about/staff/">Our Staff</a>
          </li>
          <li>
            <a href="https://www.texastribune.org/support-us/donors-and-members/" title="Who Funds Us?">Who Funds Us?</a>
          </li>
          <li>
            <a href="https://www.texastribune.org/republishing-guidelines/" title="Republishing Guidelines">Republishing Guidelines</a>
          </li>
          <li>
            <a href="https://www.texastribune.org/about/ethics/" title="Code of Ethics">Code of Ethics</a>
          </li>
          <li>
            <a href="https://www.texastribune.org/about/terms-of-service/" title="Terms of Service">Terms of Service</a>
          </li>
          <li>
            <a href="https://www.texastribune.org/about/privacy-policy/" title="Privacy Policy">Privacy Policy</a>
          </li>

          <li>
            <a href="https://www.texastribune.org/about/tips/" title="Send a Tip">Send us a confidential tip</a>
          </li>
          <li>
            <a href="https://www.texastribune.org/corrections/" title="Corrections">Corrections</a>
          </li>
          <li>
            <a href="https://www.texastribune.org/about/feeds/" title="Feeds">Feeds</a>
          </li>
          <li>
            <a href="https://www.texastribune.org/about/subscribe/" title="Newsletters">Newsletters</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h5 class="site_footer--header">Social Media</h5>
        <ul>
          <li>
            <a href="http://facebook.com/texastribune" title="Facebook" class="external"><i class="fa fa-facebook"></i>Facebook</a>
          </li>
          <li>
            <a href="http://twitter.com/texastribune" title="Twitter" class="external"><i class="fa fa-twitter"></i>Twitter</a>
          </li>
          <li>
            <a href="http://youtube.com/user/thetexastribune" title="YouTube" class="external"><i class="fa fa-youtube"></i>YouTube</a>
          </li>
          <li>
            <a href="http://instagram.com/texas_tribune" title="Instagram" class="external"><i class="fa fa-instagram"></i>Instagram</a>
          </li>
          <li>
            <a href="http://www.linkedin.com/company/texas-tribune" title="LinkedIn" class="external"><i class="fa fa-linkedin"></i>LinkedIn</a>
          </li>
          <li>
            <a href="https://www.reddit.com/user/texastribune" title="Reddit" class="external"><i class="fa fa-reddit"></i>Reddit</a>
          </li>
          <div class="border--yellow_notch"></div>
          <li>
            <a href="https://www.facebook.com/groups/thisisyourtexas/" title="This is Your Texas" class="external"><i class="fa fa-facebook"></i>Join our Facebook Group, This Is Your Texas.</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>