<div class="form-outer-section">
  <h2>Name</h2>
  <div class="form-section three">
    {{ form.first_name.label }}<br>
      {{ form.first_name(maxlength=50) }}
  </div>
  <div class="form-section three">
    {{ form.last_name.label }}<br>
      {{ form.last_name(maxlength=50) }}
  </div>
  <div style="clear: both;" class="form-section six">
    <p class="error-form-message"></p>
  </div>
</div>
<div class="form-outer-section">
  <h2>Additional Info</h2>
  <div class="form-section four">
    {{ form.reason.label }}
      {{ form.reason(maxlength=100) }}
  </div>
  <div class="form-section four">
    {{ form.pay_fees.label }}
      {{ form.pay_fees }}
  </div>
</div>
  {{ form.installments(value=installments) }}
  {{ form.installment_period(value=installment_period) }}
  {{ form.openended_status(value=openended_status) }}
<div class="form-outer-section">
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <button id="customButton" class="button button-flat">Pay by Card</button>
</div>
