<div id="checkout_anchor" class="donation grid_separator">
  <div class="grid_separator--s">
    <div class="donation--prompt grid_separator--s">I'm ready to give ...</div>
    <div class="grid_row donation--input">
      <span class="donation--dollar">$</span>
      {{ form.amount(value=amount, autocomplete="off", class="col tt_input donation--amount") }}
    </div>
  </div>
  {{ form.installment_period(class="radio_toggle grid_row") }}
</div>

<div class="grid_row grid_wrap--s">
  {{ form.first_name(maxlength=50, placeholder="First name", class="col_6 tt_input grid_separator--s") }}
  {{ form.last_name(maxlength=50, placeholder="Last name", class="col_6 tt_input grid_separator--s") }}
</div>
<div class="grid_row grid_wrap--s">
  {{ form.reason(maxlength=100, placeholder="Encouraged to give by ...", class="col_8 grid_separator--s tt_input") }}
  {{ form.zipcode(maxlength=5, placeholder="Zip code", class="col_4 grid_separator--s tt_input") }}
</div>


<div class="pay_fee grid_row grid_separator">
  {{ form.pay_fees(checked=False, class="col_1 pay_fee--checkbox") }}
  <p id="pay-fee-amount" class="pay_fee--description col_11">I agree to pay <span class="pay_fee--amount"></span> for processing fees. Paying for fees directs more money to our mission.</p>
</div>
{{ form.pay_fees_value(value="False") }}
{{ form.openended_status(value=openended_status) }}
{{ form.installments(value=installments) }}

<script src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<div class="submit submit--woApple grid_row grid_separator--s">
  <button class="col button button--yellow button--l button--donate">Donate</button>
</div>

<div class="submit submit--wApple grid_row grid_separator--s hidden">
  <button class="col_6 button button--yellow button--l button--donate">Pay by card</button>
  <span class="col_1 text_separator">or</span>
  <button id="applePayButton" class="col_6 button button--l button--applePay">&nbsp;</button>
</div>

<div class="form-error">
  <p class="error-form-message"></p>
</div>
