<div class="form-outer-section">
  <h2>Name</h2>
  <div class="form-section three">
    {{ form.first_name.label }}<br>
      {{ form.first_name(maxlength=50) }}
  </div>
  <div class="form-section three">
    <label>Last</label><br>
      <input name="Contact.LastName" type="text" maxlength="50">
  </div>
</div>
<div class="form-outer-section">
  <h2>Additional Info</h2>
  <div class="form-section four">
    {{ form.reason.label }}
      {{ form.reason(maxlength=100) }}
  </div>
</div>
<input name="Description" class="visually-hidden">
{% if request.args.installments %}
  <input name="Installments" value="{{ request.args.installments }}" class="visually-hidden">
{% else %}
  <input name="Installments" value="None" class="visually-hidden">
{% endif %}
{% if request.args.installmentPeriod %}
  <input name="InstallmentPeriod" value="{{ request.args.installmentPeriod }}" class="visually-hidden">
{% else %}
  <input name="InstallmentPeriod" value="None" class="visually-hidden">
{% endif %}
<div class="form-outer-section">
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <button id="customButton" class="button button-flat">Pay by Card</button>
</div>
