<div class="member_quotes">
  <div class="border--yellow_notch"></div>
  <div class="smallcaps grid_separator--s">Why they support The Texas Tribune</div>
  <p class="member_quotes--quote">“#ISupportTexasTribune because quality, independent journalism is not free, even if you read it on <nobr>the web.”</nobr></p>
  <p class="member_quotes--attribution grid_separator--l">&mdash; <a href="https://twitter.com/DavidATX49/status/920069272197410817">David</a></p>
  <p class="member_quotes--quote">“#ISupportTexasTribune because it's so crucial in today's climate to get thoughtful and <nobr>fact-based news.”</nobr></p>
  <p class="member_quotes--attribution">&mdash; <a href="https://twitter.com/davisfromtx/status/918501312236539905">Davis</a></p>
</div>
