<div class="grid">
  <div class="navbar col col_omega">
    <nav class="grid_container grid_padded">
      <div class="grid_row grid_wrap--l">
        <div style="flex: 0 1 auto;" class="navbar__logo grid_row col_omega">
          <div class="col_inline">
          <a href="https://www.texastribune.org" class="navbar__logo--link">
            {% include "includes/logo.html" %}
          </a>
          </div>
        </div>
        <ul style="flex: 0 1 auto;" class="navbar__right thin col_omega">
          <ul class="navbar__list grid col col_omega">
            <li class="navbar__col navbar__link navbar__col--halfsize hide_until--l"><a class="navbar__item" href="https://www.texastribune.org/series/10th-anniversary/">Ten Years</a></li>
            <li class="navbar__col navbar__link navbar__col--halfsize hide_until--l"><a class="navbar__item" href="https://www.texastribune.org/data/">Data</a></li>
            <li class="navbar__col navbar__link navbar__col--halfsize hide_until--l"><a class="navbar__item" href="https://www.texastribune.org/events/">Events</a></li>
            <li class="navbar__col navbar__link navbar__col--halfsize"><a class="navbar__item" href="/account">Account</a></li>
          </ul>
        </ul>
      </div>
    </nav>
  </div>
</div>
