<div class="grid">
  <div class="navbar col col_omega">
    <nav class="grid_container grid_padded">
      <div class="grid_row grid_wrap--l">
        <div class="navbar__logo grid_row col_omega">
          <div class="col_inline">
          <a href="https://www.texastribune.org" class="navbar__logo--link">
            <img src="../static/img/logo-white.png">
          </a>
          </div>
          <ul class="col_inline">
            <li class="navbar__link hide_from--l">
              <button id="menu-open" class="navbar__item"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;MENU</button>
              <button id="menu-close" class="navbar__item hidden"><i class="fa fa-close" aria-hidden="true"></i>&nbsp;CLOSE</button></li>
            </li>
          </ul>
        </div>
        <ul class="navbar__right thin col_omega">
          <ul id="mobile-dropdown" class="navbar__list grid col col_omega hide_until--l">
            <li class="navbar__col navbar__link navbar__col--halfsize hide-on-search"><a class="navbar__item" href="">Our Picks</a></li>
            <li class="navbar__col navbar__link navbar__col--halfsize hide-on-search"><a class="navbar__item" href="" ga-on="click">Data</a></li>
            <li class="navbar__col navbar__link navbar__col--halfsize hide-on-search"><a class="navbar__item" href="">Events</a></li>
            <li class="navbar__col navbar__link navbar__col--halfsize hide-on-search"><a class="navbar__item" href="">Video</a></li>
            <li class="navbar__col navbar__link hide-on-search"><a class="navbar__item active" href="https://support.texastribune.org/">Donate</a></li>
          </ul>
        </ul>
      </div>
    </nav>
  </div>
</div>
