<div class="member_quotes section-padding">
  <div class="border--yellow_notch"></div>
  <div class="smallcaps grid_separator--s">Why they support us</div>
  <p class="member_quotes--quote">“#ISupportTexasTribune because it's so crucial in today's climate to get thoughtful and <nobr>fact-based news.”</nobr></p>
  <p class="member_quotes--attribution grid_separator--l">&mdash; <a href="https://twitter.com/davisfromtx/status/918501312236539905">Davis</a></p>
  <p class="member_quotes--quote">“#ISupportTexasTribune because it produces quality journalism that <nobr>I trust.”</nobr></p>
  <p class="member_quotes--attribution">&mdash; <a href="https://twitter.com/AustinRecruiter/status/855067462441857025">Vanessa</a></p>
</div>
