<div class="quotes section-padding">
  <div class="border--yellow_notch"></div>
  <div class="smallcaps grid_separator--s">Why members give</div>

  <p class="quotes__quote">“#ISupportTexasTribune because they are a reliable source of professional journalism. You know, the kind that seeks truth before profit, integrity before clickbait, and <nobr>serves DEMOCRACY.”</nobr></p>
  <p class="quotes__attribution grid_separator--l">&mdash; <a href="https://twitter.com/skc1957/status/1188130464948805633">Susan</a></p>

  <p class="quotes__quote">“#ISupportTexasTribune because of their tireless coverage, investigative skill and dedication to getting <nobr>it right.”</nobr></p>
  <p class="quotes__attribution grid_separator--l">&mdash; <a href="https://twitter.com/BrentWistrom/status/1173937325505732610">Brent</a></p>

  <p class="quotes__quote">“I am a <a href="https://twitter.com/TexasTribune/">@TexasTribune</a> sustaining member, because facts matter, journalism matters, and when it comes to Texas, NO ONE DOES <nobr>IT BETTER.”</nobr></p>
  <p class="quotes__attribution grid_separator--l">&mdash; <a href="https://twitter.com/RenaissanceXM/status/1173926570697904128">Cornell</a></p>

  <p class="quotes__quote">“#ISupportTexasTribune because... it's journalism for Texans, <nobr>by Texans.”</nobr></p>
  <p class="quotes__attribution grid_separator--l">&mdash; <a href="https://twitter.com/erickson_tom/status/1173962443082612736">Tom</a></p>
</div>
