<li>
  <a href="https://www.texastribune.org/topics/congress/" data-section="congress">Congress</a>
</li>
<li>
  <a href="https://www.texastribune.org/topics/courts/" data-section="courts">Courts</a>
</li>
<li>
  <a href="https://www.texastribune.org/topics/criminal-justice/" data-section="criminal-justice">Criminal justice</a>
</li>
<li>
  <a href="https://www.texastribune.org/topics/demographics/" data-section="demographics">Demographics</a>
</li>
<li>
  <a href="https://www.texastribune.org/topics/economy/" data-section="economy">Economy</a>
</li>
<li>
  <a href="https://www.texastribune.org/topics/energy/" data-section="energy">Energy</a>
</li>
<li>
  <a href="https://www.texastribune.org/topics/environment/" data-section="environment">Environment</a>
</li>
<li>
  <a href="https://www.texastribune.org/topics/health-care/" data-section="health-care">Health care</a>
</li>
<li>
  <a href="https://www.texastribune.org/topics/higher-education/" data-section="higher-education">Higher education</a>
</li>
<li>
  <a href="https://www.texastribune.org/topics/immigration/" data-section="immigration">Immigration</a>
</li>
<li>
  <a href="https://www.texastribune.org/topics/politics/" data-section="politics">Politics</a>
</li>
<li>
  <a href="https://www.texastribune.org/topics/public-education/" data-section="public-education">Public education</a>
</li>
<li>
  <a href="https://www.texastribune.org/topics/state-government/" data-section="state-government">State government</a>
</li>
