<li class="has-tiny-btm-marg">
  <a href="https://www.texastribune.org/topics/congress/" data-section="congress" ga-event-category="navigation" ga-event-action="footer link click" ga-event-label="congress">Congress</a>
</li>
<li class="has-tiny-btm-marg">
  <a href="https://www.texastribune.org/topics/courts/" data-section="courts" ga-event-category="navigation" ga-event-action="footer link click" ga-event-label="courts">Courts</a>
</li>
<li class="has-tiny-btm-marg">
  <a href="https://www.texastribune.org/topics/criminal-justice/" data-section="criminal-justice" ga-event-category="navigation" ga-event-action="footer link click" ga-event-label="criminal justice">Criminal justice</a>
</li>
<li class="has-tiny-btm-marg">
  <a href="https://www.texastribune.org/topics/demographics/" data-section="demographics" ga-event-category="navigation" ga-event-action="footer link click" ga-event-label="demographics">Demographics</a>
</li>
<li class="has-tiny-btm-marg">
  <a href="https://www.texastribune.org/topics/economy/" data-section="economy" ga-event-category="navigation" ga-event-action="footer link click" ga-event-label="economy">Economy</a>
</li>
<li class="has-tiny-btm-marg">
  <a href="https://www.texastribune.org/topics/energy/" data-section="energy" ga-event-category="navigation" ga-event-action="footer link click" ga-event-label="energy">Energy</a>
</li>
<li class="has-tiny-btm-marg">
  <a href="https://www.texastribune.org/topics/environment/" data-section="environment" ga-event-category="navigation" ga-event-action="footer link click" ga-event-label="environment">Environment</a>
</li>
<li class="has-tiny-btm-marg">
  <a href="https://www.texastribune.org/topics/health-care/" data-section="health-care" ga-event-category="navigation" ga-event-action="footer link click" ga-event-label="health care">Health care</a>
</li>
<li class="has-tiny-btm-marg">
  <a href="https://www.texastribune.org/topics/higher-education/" data-section="higher-education" ga-event-category="navigation" ga-event-action="footer link click" ga-event-label="higher education">Higher education</a>
</li>
<li class="has-tiny-btm-marg">
  <a href="https://www.texastribune.org/topics/immigration/" data-section="immigration" ga-event-category="navigation" ga-event-action="footer link click" ga-event-label="immigration">Immigration</a>
</li>
<li class="has-tiny-btm-marg">
  <a href="https://www.texastribune.org/topics/politics/" data-section="politics" ga-event-category="navigation" ga-event-action="footer link click" ga-event-label="politics">Politics</a>
</li>
<li class="has-tiny-btm-marg">
  <a href="https://www.texastribune.org/topics/public-education/" data-section="public-education" ga-event-category="navigation" ga-event-action="footer link click" ga-event-label="public education">Public education</a>
</li>
<li class="has-tiny-btm-marg">
  <a href="https://www.texastribune.org/topics/state-government/" data-section="state-government" ga-event-category="navigation" ga-event-action="footer link click" ga-event-label="state government">State government</a>
</li>
