<div class="grid_row">
  <div class="col_12 grid_separator--l">
    <h1 class="grid_separator">This Spring Member Drive, help us cover the 2018 midterms.</h1>
    <div class="prose"><p>No newsroom invests more in state and local elections coverage than The Texas Tribune. If you value that reporting, help us meet our <strong>$50,000 Spring Member Drive fundraising goal</strong> by giving today.</p></div>
    <p class="smallcaps highlight">Your donation will help us ...</p>
    <ul class="list--bulleted">
      <li><strong>Cover more ground</strong> — $15,000 — Local newsrooms cover local races. The Texas Tribune covers all the key races across Texas, from statewide to judicial to state board of education elections. Support our comprehensive reporting with your donation.</li>
      <li><strong>Have the best election night results ever</strong> — $15,000 — Tens of thousands of people rely on our data visuals team to provide election results they trust. Help us invest in even better, faster election night returns with your donation.</li>
      <li><strong>Keep an eye on Congress</strong> — $15,000 — Texas has the second-largest congressional delegation in the country. As we track the most competitive congressional races of this election cycle, our team is also keeping you informed on other critical policy areas like immigration and health care. Support our policy coverage with your donation.</li>
      <li><strong>Help you get to know the candidates running for office</strong> — $5,000 — Our Split Decision <a href="https://www.texastribune.org/series/split-decision/">video series</a> puts faces to the the names up and down your ballot, and helps you learn where the candidates stand on the issues. Help us turn out more informative videos with a donation.</li>
    </ul>
  </div>
</div>
