<div class="grid_row smd_buckets">
  <div class="col_12">
    <h1 class="grid_separator">We did it! Thank you, Texas.</h1>
    <div class="prose grid_separator--l">
      <p>Thanks to the nearly 500 readers who donated during our Spring Member Drive, we've officially met our goal of <strong>$50,000 toward our elections coverage</strong>. Our newsroom is humbled and grateful for your support.</p>
      <p>If you haven't had a chance to give yet, there's still time &mdash; and good reason &mdash; to give! Thanks to the generosity of Blue Cross Blue Shield of Texas, your donations will still be matched, dollar for dollar, through 11:59 p.m. Friday, May 4. <strong>Give now to make your support official.</strong></p>
    </div>
    <div class="smallcaps highlight grid_separator--xl">Your donation will help us ...</div>
    <div id="smd-goals" class="bucket_row grid_row grid_wrap--s grid_separator--l">
      <div class="col bucket_card">
        <h3 class="bucket_card--title grid_separator--s">Cover more ground</h3>
        <div class="bucket_card--description grid_separator">Local newsrooms cover local races. The Texas Tribune covers all the key races across Texas, from statewide to judicial to state board of education elections. Support our comprehensive reporting with <a href="#checkout_anchor">your donation</a>.</div>
        <!-- <div class="bucket_card--goal">Goal: $15,000</div> -->
        <div class="bucket_card--goal bucket_card--complete"><i class="fa fa-check"></i> $15,000 Goal Met!</div>
      </div>
      <div class="col bucket_card">
        <h3 class="bucket_card--title grid_separator--s">Have the best election night results ever</h3>
        <div class="bucket_card--description grid_separator">Tens of thousands of people rely on our data visuals team to provide election results they trust. Help us invest in even better, faster election night returns with <a href="#checkout_anchor">your donation</a>.</div>
        <!-- <div class="bucket_card--goal">Goal: $15,000</div> -->
        <div class="bucket_card--goal bucket_card--complete"><i class="fa fa-check"></i> $15,000 Goal Met!</div>
      </div>
    </div>
    <div class="bucket_row grid_row grid_wrap--s">
      <div class="col bucket_card">
        <h3 class="bucket_card--title grid_separator--s">Keep an eye on Congress</h3>
        <div class="bucket_card--description grid_separator">Texas has the second-largest congressional delegation in the country. As we track the most competitive congressional races of this election cycle, our team is also keeping you informed on other critical policy areas like immigration and health care. Support our policy coverage with <a href="#checkout_anchor">your donation</a>.</div>
        <!-- <div class="bucket_card--goal">Goal: $15,000</div> -->
        <div class="bucket_card--goal bucket_card--complete"><i class="fa fa-check"></i> $15,000 Goal Met!</div>
      </div>
      <div class="col bucket_card">
        <h3 class="bucket_card--title grid_separator--s">Help you get to know candidates</h3>
        <div class="bucket_card--description grid_separator">Our Split Decision <a href="https://www.texastribune.org/series/split-decision/">video series</a> puts faces to the the names up and down your ballot, and helps you learn where the candidates stand on the issues. Help us turn out more informative videos with a <a href="#checkout_anchor">donation</a>.</div>
        <!-- <div class="bucket_card--goal">Goal: $5,000</div> -->
        <div class="bucket_card--goal bucket_card--complete"><i class="fa fa-check"></i> $5,000 Goal Met!</div>
      </div>
    </div>
  </div>
</div>
