<div class="grid_row smd_buckets">
  <div class="col_12">
    <h1 class="grid_separator">This Spring Member Drive, help us cover the 2018 midterms.</h1>
    <div class="prose grid_separator--l"><p>No newsroom invests more in state and local elections coverage than The Texas Tribune. If you value that reporting, help us meet our <strong>$50,000 Spring Member Drive fundraising goal</strong> by giving today.</p></div>
    <div class="smallcaps highlight grid_separator--xl">Your donation will help us ...</div>
    <div class="bucket_row grid_row grid_wrap--s grid_separator--l">
      <div class="col bucket_card">
        <div class="bucket_card--amount">Goal: $15,000</div>
        <h3 class="bucket_card--title grid_separator--s">Cover more ground</h3>
        <div class="bucket_card--description">Local newsrooms cover local races. The Texas Tribune covers all the key races across Texas, from statewide to judicial to state board of education elections. Support our comprehensive reporting with your donation.</div>
      </div>
      <div class="col bucket_card">
        <div class="bucket_card--amount">Goal: $15,000</div>
        <h3 class="bucket_card--title grid_separator--s">Have the best election night results ever</h3>
        <div class="bucket_card--description">Tens of thousands of people rely on our data visuals team to provide election results they trust. Help us invest in even better, faster election night returns with your donation.</div>
      </div>
    </div>
    <div class="bucket_row grid_row grid_wrap--s">
      <div class="col bucket_card">
        <div class="bucket_card--amount">Goal: $15,000</div>
        <h3 class="bucket_card--title grid_separator--s">Keep an eye on Congress</h3>
        <div class="bucket_card--description">Texas has the second-largest congressional delegation in the country. As we track the most competitive congressional races of this election cycle, our team is also keeping you informed on other critical policy areas like immigration and health care. Support our policy coverage with your donation.</div>
      </div>
      <div class="col bucket_card">
        <div class="bucket_card--amount">Goal: $5,000</div>
        <h3 class="bucket_card--title grid_separator--s">Help you get to know the candidates running for office</h3>
        <div class="bucket_card--description">Our Split Decision <a href="https://www.texastribune.org/series/split-decision/">video series</a> puts faces to the the names up and down your ballot, and helps you learn where the candidates stand on the issues. Help us turn out more informative videos with a donation.</div>
      </div>
    </div>
  </div>
</div>
