<script>
var stripe_donation = function() {
  var donation_amount = $('.dollar').val();
  var valid = false;
  donation_amount *= 100;

  var validateAll = function () {
    if (true === $('#form').parsley().isValid()) {
      valid = true;
    } else {
      valid = false;
    }
  };

  var handler = StripeCheckout.configure({
    key: '{{ key }}',
    image: "{{ url_for('static', filename='img/TT_logo.jpg') }}",
    locale: 'auto',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // Uses `token.id` to access the Stripe token ID
      var $emailInput = $('<input type=hidden name=stripeEmail />').val(token.email);
      $('form').append($emailInput);
      var $input = $('<input type=hidden name=stripeToken />').val(token.id);
      $('form').append($input).submit();
    }
  });

  $('#customButton').on('click', function(e) {
    $('#form').parsley().validate();
    validateAll();

    if (valid === true) {
      // If form is valid, open Checkout with further options
      handler.open({
        name: 'The Texas Tribune',
        description: 'The Texas Tribune Donation',
        amount: donation_amount
      });
      e.preventDefault();
      }
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
};

window.onload = stripe_donation();
</script>
