.form-buckets {
  &--stacked {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  &__item {
    border-width: 3px;
    border-color: $color-white-off;
    border-style: solid;
    padding: $size-s;
    transition: border-color 0.2s;

    &--selected {
      border-color: $color-yellow-tribune;
    }
  }



  &__header {
    @include font-setting('secondary');
    font-size: $size-l;
    font-weight: bold;
    line-height: 1;
    &--medium {
      font-size: $size-m;
    }
  }
}
