.splash {
  background-color: $color-sand;
  background-position-x: 50%;
  background-image: url('../img/TT-SMD18-BG_pattern-tile-trim.png');
  background-repeat: repeat;
  padding: 0 $size-b;
  color: $color-white-pure;

  //FMD variation
  // background-image: url('../img/TT-FMD18-BG_pattern-tile-grey.png');
  // padding-bottom: $size-giant*2;
  // padding-top: $size-giant*2;
  //end FMD variation

  &--blast {
    background: $color-black-pure;
    @include mq($until: bp-m) {
      padding-bottom: $size-b;
    }
  }
  &--tall {
    padding: ($size-giant * 2) 0;
    @include mq($until: bp-l) {
      padding-bottom: $size-b;
      padding-top: $size-b;

      //FMD variation
      // padding-bottom: $size-l;
      // padding-top: $size-l;
      //end FMD variation
    }
  }

  &__headline {
    padding-bottom: $size-l;

    //FMD variation
    //color: $color-fmd-blue-dark;
    //end FMD variation

    @include mq($from: bp-m) {
      font-size: $size-xl;
      padding-bottom: $size-m;
    }

    @include mq($from: bp-l) {
      font-size: 2.3rem;
      line-height: 1.25em;
    }

    @include mq($from: bp-xl) {
      font-size: 2.75rem;
    }

    //FMD variation
    // @include mq($until: $animation-single-line-bp) {
    //   padding-bottom: 3.5rem;
    // }
    //end FMD variation
  }

  &__description {
    font-size: $size-b;

    //FMD variation
    // @extend %link--blue;
    // color: $color-fmd-blue-dark;
    //end FMD variation
  }

  &__logo {
    display: block;
    margin: $size-b 0;
    img {
      max-width: 100%;
    }
  }
  
  &__bug {
    img {
      max-width: 250px;
    }
    @include mq($from: bp-m) {
      text-align: right;
    }
  }
  
  &__actions {
    @include mq($until: bp-m) {
      margin-top: 2rem;
    }
  }

  //FMD variation
  // &_actions {
  //   align-items: center;
  // }
  // &--buttons {
  //   .button {
  //     width: 45%;
  //   }
  //   .button--yellow {
  //     background-color: $color-fmd-blue-light;
  //     border: 2px solid $color-fmd-blue-light;
  //     color: $color-white-pure;
  //   }
  //   .text {
  //     color: $color-fmd-blue-dark;
  //     font-size: $size-xs;
  //     padding-left: $size-xxs/2;
  //     padding-right: $size-xxs/2;
  //   }
  // }
  //end FMD variation
}
