.l-ump-grid {
  display: grid;
  grid-template-areas: 'side content';
  grid-template-columns: 20rem 1fr;

  &__side {
    grid-area: side;
  }

  &__content {
    grid-area: content;
  }

  @include mq($from: bp-l) {
    min-height: 80vh;
  }

  @include mq($until: bp-l) {
    grid-template-areas: 'content';
    grid-template-columns: 1fr;
  }
}
