.l-ump-grid {
  display: grid;
  grid-template-columns: 20rem 1fr;

  &__side {
    grid-column: 1;
  }

  &__content {
    grid-column: 2;
  }

  @include mq($until: bp-l) {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;

    &__content {
      grid-column: 1;
    }
  }
}
