.site_footer {
  @extend .print__hide;
  background-color: $color-black-off;
  padding: $size-b $size-b $size-giant;

  &--logo {
    max-width: 60px;
    margin: $size-xs 0 $size-giant;
  }

  &--header {
    @extend .font-sansserif;
    color: $color-yellow-tribune;
    font-weight: 700;
    letter-spacing: .08em;
    margin: $size-b/2 0;
    text-align: left;
    text-transform: uppercase;
  }

  .border--yellow_notch {
    border-top: 2px solid $color-yellow-tribune;
    margin: $size-xs 0;
  }

  // .col {
  //   border-right: 1px solid $color-black-pure;
  // }

  ul {
    list-style-type: none;
  }

  li {
    clear: both;
    padding: 2px 0;
    text-align: left;
  }

  a {
    @extend .font-sansserif;
    color: $color-white-pure;
    font-size: $size-xs;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.donate {
      color: $color-blue-light;
      margin-top: $size-b;
    }

    i {
      padding-right: $size-b;
      width: $size-m;
    }
  }
}
