$input_height: 27px;
$input_height--l: 44px;

%input_text {
  @extend .font-sansserif;
  background-color: #f7f7f7;
  border: 1px solid #DCDCDC;
  color: $color-black-pure;
  font-size: $size-xs;
  height: $input_height;
  padding: 0 $size-xxs;
}

%input_text--l {
  @extend %input_text;
  font-size: $size-b;
  height: $input_height--l;
  padding: $size-xxs;
}

%input_text--placeholder {
  color: $color-gray-light;
}
