@import '../utils/links';

.navbar {
  @extend .font-sansserif;
  background-color: $color-black-off;
  justify-content: space-between;

  .grid_row {
    justify-content: space-between;
  }

  ul {
    list-style-type: none;
  }

  &__col {
    flex: 0 1 100%;
    margin-right: $grid-gutter;
    max-width: 100%;

    @include mq($from: bp-l) {
      flex: 0 1 auto;
    }

    &--halfsize {
      @include mq($until: bp-l) {
        max-width: 50%;
        margin-right: 0;
      }
    }
  }

  &__logo {
    order: -3;

    @include mq($until: bp-l) {
      flex: 0 1 100%;
      max-width: 100%;
    }

    @include mq($from: bp-l) {
      flex: 0 1 auto;
      margin-right: $grid-gutter;
      max-width: 100%;
    }

    &--link {
      display: inline-block;
      line-height: 1.85;
      padding: $size-xxs 0 0;
      width: 210px; // Need defined width for svg container in Firefox
    }

    &--img {
      width: 100%;
      max-width: 210px;
    }
  }

  &__divider {
    color: $color-yellow-tribune;
  }

  &__divider,
  &__item {
    background-color: $color-black-off;
    border: 0;
    display: inline-block;
    font-size: $size-xxs;
    font-weight: 700;
    letter-spacing: .07rem;
    line-height: 1.85;
    padding: $size-xxs 0 0;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__item {
    color: $color-gray-light;

    @include mq($until: bp-s) {
      padding: .65rem 0 0;
    }
  }

  &__item {
    color: $color-gray-light;

    &:hover {
      color: $color-white-pure;
    }

    &.active {
      color: $color-white-pure;

      &:after {
        display: block;
        content: '';
        padding-bottom: $size-b/2;
        border-bottom: solid 3px $color-yellow-tribune;
        transform: scaleX(1);
      }
    }
  }

  &__item {
    &:after {
      display: block;
      content: '';
      padding-bottom: $size-b/2;
      border-bottom: solid 3px $color-yellow-tribune;
      transform: scaleX(0);
      transition: transform 150ms ease-in-out;
    }

    @include mq($from: bp-s) {
      &:hover:after {
        transform: scaleX(1);
      }
    }
  }

  &__right {
    order: -2;

    // Unique styles for navbar_thin
    &.thin {
      flex: 0 1 100%;
      margin-right: 0;
      max-width: 100%;

      @include mq($from: bp-l) {
        flex: 0 1 auto;
        margin-right: 0;
      }
    }
  }

  .fa {
    color: $color-yellow-tribune;
    font-size: $size-s;
  }

  // These pixel hacks fix a rendering problem with how the icons overlap
  .fa-bars {
    margin-left: 2px;
  }

  .fa-search {
    margin-left: 1px;
  }

  &__link {
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
      padding: 0;
    }
  }

  &__list {
    position: relative;

    .navbar__link {
      padding: 0 $size-b/2 0 0;

      &:last-child {
        padding: 0;
      }
    }
  }

  &__search {
    background-color: $color-black-off;
    justify-content: flex-end;

    @include mq($from: bp-l) {
      position: relative;
    }

    &--input {
      @extend .font-sansserif;
      background-color: $color-black-off;
      border: none;
      color: $color-gray-light;
    }

    input[type=text]:focus, textarea:focus {
      outline: none;
    }

    &--form {
      background-color: $color-black-off;
      position: absolute;
      width: 100%;
      left: 0;

      @include mq($until: bp-l) {
        padding: 0 $size-s;
      }
    }

    &--btn {
      float: right;
    }

    // Unique styles for navbar_thin
    &.thin {
      position: initial;
      margin-right: 0;

      @include mq($until: bp-l) {
        order: -2;
        width: 100%;
      }

      .navbar__search--form {
        @include mq($until: bp-l) {
          position: relative;
        }
      }

      .navbar__search--btn {
        float: none;
      }
    }


  }
}

.tt_logo {
  margin: $size-xl 0;

  &__tagline {
    @extend .font-sansserif;
    font-size: $size-s;
    font-weight: 700;
    line-height: 1.2;
    text-align: right;

    a {
      color: $color-teal-gray;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
