<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Manage Your Account | The Texas Tribune</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel="stylesheet" type="text/css" href="{{ bundles['css'] }}">

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P5L2Z5Z');</script>

    <script>
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');

      fbq('init', '1570461443220689');
      fbq('track', "PageView");
      fbq('track', 'ViewContent');
      fbq('track', 'Search');
    </script>

    {% include "includes/font_load.html" %}
  </head>

  <body>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5L2Z5Z" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1570461443220689&ev=PageView&noscript=1" />
    </noscript>

    <div style="display:none;">
      {% include "includes/base_icons.html" %}
    </div>

    <div id="account-attach" class="c-full-page-loader c-full-page-loader--opaque">
      <div class="l-align-center-y has-xl-padding">
        <div class="c-loading c-loading--tight"></div>
      </div>
    </div>
  </body>

  {% for script in bundles['js'] %}
    <script src="{{ script }}"></script>
  {% endfor %}
</html>
