{% extends "layout.html" %}
{% block title %}
  The Blast | The Texas Tribune
{% endblock %}
{% block extra_script %}
<script src="{{ url_for('static', filename='js/blast.js') }}"></script>
{% endblock %}

{% block content %}
  <header class="blast_header">
    <div class="grid_container grid_row grid_padded">
      <figure class="blast_logo col col_6--m col_5--l">
        <a href="https://www.texastribune.org/theblast/" class="unlink"><img src="{{ url_for('static', filename='img/TT-TheBlast-logo_PSvitek.png') }}" alt="The Blast logo, a product of The Texas Tribune"></a>
        <!-- <a href="https://www.texastribune.org/" class="unlink"><img src="{{ url_for('static', filename='img/TT-aprojectby-horizontal-white.svg') }}" alt="A product of The Texas Tribune" class="blast_logo--sub"></a> -->
      </figure>
    </div>
  </header>
  <div class="grid_container main">
    <form action="/submit-blast" method="post" class="blastform">
      {{ form.csrf_token }}
      <div class="form-outer-section outer-section narrow">
        <header class="grid_separator">
          <h2>Sign up for the best political newsletter in Texas.</h2>
        </header>
        <div class="grid_row grid_wrap--l">
          <div class="col_6">
            <div class="grid_row grid_separator grid_wrap--m">
              <div class="col_6">
                {{ form.first_name.label }}<br>
                  {{ form.first_name(maxlength=50) }}
              </div>
              <div class="col_6">
                {{ form.last_name.label }}<br>
                  {{ form.last_name(maxlength=50) }}
              </div>
            </div>
            <div class="grid_row">
              <div class="col">
                {{ form.subscriber_email.label }}
                  {{ form.subscriber_email(maxlength=70) }}
                  <p class="form-subtext">&raquo; You will be prompted for the billing email address at checkout.</p>
              </div>
            </div>
            <div class="form-section form-error">
              <p class="error-form-message"></p>
            </div>
          </div>
          <div class="col_1">&nbsp;</div>
          <div class="form__box col_5 grid_separator">
            <div class="grid_row">
              <div class="col col_9--l">
                <label class="dropdown">Subscription plan
                  {{ form.amount(value=amount, class="") }}
                </label>
              </div>
            </div>
            <div class="grid_row">
              <div class="col col_9--l">
                {{ form.pay_fees.label }}
                  {{ form.pay_fees(checked=False) }}
                <p id="pay-fee-amount" class="label-info"><span></span></p>
                <p id="pay-fee-info">Paying these fees directs more money in support of the Tribune’s mission.</p>
              </div>
            </div>
            {{ form.pay_fees_value(value="False") }}
            {{ form.installment_period(value=installment_period) }}
          </div>
        </div>
        {{ form.description(value='Blast Subscription') }}
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <button id="customButton" class="button button-flat">Submit</button>
      </div>
    </form>

    {% include 'includes/blast_stripe_checkout_js.html' %}
  </div>
  <script>
    window.onload = function() {
      payFeeAmount();
      listen_for_fee_check();
    };

    $('select[name="amount"]').change(function() {
      payFeeAmount();
    });
  </script>
{% endblock %}
