{% extends "layout.html" %}

{% block extra_script %}
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="main">
    <div class="img-wrapper">
      <figure class="blast_logo six">
        <img src="{{ url_for('static', filename='img/TT-Blast_logo.svg') }}" alt="The Blast logo">
      </figure>
    </div>
    <div class="outer-section">
      <div class="six">
        <p>
          Thank you for subscribing to The Blast!
          You'll receive an order confirmation email shortly.
          Should you have any questions about your subscription,
          please email blast@texastribune.org
        </p>
      </div>
    </div>
    <div class="outer-section social-wrapper">
      <div class="six">
        <a href="mailto:blast@texastribune.org?Subject=Check%20out%20The%20Blast&amp;Body=https://www.texastribune.org/theblast/">
        <div class="button social email">
          <i class="fa fa-envelope"></i>Enjoy The Blast? Suggest it to a friend
        </div>
      </div>
    </div>
  </div>
{% endblock %}
