{% extends "new_layout.html" %}

{% block title %}Business Membership | The Texas Tribune{% endblock %}

{% block og_meta %}
  <meta property="og:url" content="https://support.texastribune.org/businessform">
  <meta property="og:image" content="https://support.texastribune.org{{ url_for('static', filename='img/business-social.jpg') }}">
  <meta property="og:title" content="Business Membership | The Texas Tribune">
  <meta property="og:type" content="website">
  <meta property="og:description" content="At The Texas Tribune, members make all the difference. Join me in supporting the Tribune’s nonprofit newsroom by becoming a Business Member today.">
{% endblock %}

{% block stylesheets %}
  {% for stylesheet in bundles['css'] %}
    <link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
  {% endfor %}
{% endblock %}

{% block head_scripts %}
{% if form_data and message %}
<script>
  window.location.replace('#join-today');
</script>
{% endif %}
{% endblock %}

{% block content %}
  <main class="main">
    <!-- where the router component attaches -->
    <div id="app" style="display:none;"></div>

    <header class="business-hero">
      <div class="business-hero__inner grid_container--m grid_padded">
        <h1 class="business-hero__title grid_separator">Join Our Business Membership</h1>
        <p class="business-hero__intro grid_separator">Make an annual contribution to The Texas Tribune in your organization's name and join a roster of community-minded businesses.</p>
      </div>
    </header>

    <div class="opening-pitch section-padding">
        {% include 'includes/business_opening_pitch.html' %}
     </div>

    <!-- for hash links when a form is invalid -->
    <div id="join-today"></div>
    <div class="grid_container grid_padded--xl">

    <section class="business-form grid_separator--l">
          <!-- where the form attaches -->
      <div id="business-form"></div>
     </section>

     <section class="business-questions grid_separator--l">
        {% include 'includes/business_questions.html' %}
     </section>

      <section class="business-wall grid_separator--l">
        <figure class="business-wall__logo grid_separator--l">
          <!-- <img src="{{ url_for('static', filename='img/business-logo.png')}}" alt="Business Membership logo"> -->
        </figure>
        <!-- where the wall component attaches -->
        <div id="business-wall"></div>
      </section>
    </div>
  </main>
{% endblock %}

{% block bottom_script %}
<script src="https://js.stripe.com/v3/"></script>

{% if form_data and message %}
<script>
  window.__TOP_FORM_SERVER_ERROR_MESSAGE__ = {{ message|tojson }};
  window.__BUSINESS_FORM_REHYDRATION__ = {{ form_data|tojson }};
</script>
{% endif %}

{% for script in bundles['js'] %}
  <script src="{{ script }}"></script>
{% endfor %}
{% endblock %}
