{% extends "layout.html" %}

{% block content %}
  <div class="main">
    <div class="img-wrapper">
      <img src="https://s3.amazonaws.com/static.texastribune.org/media/marketing/TT-support_thankyou.png" />
    </div>
    <div class="outer-section">
      <div class="six">
        <p>Your donation bolsters our mission as the only member-supported, digital-first, nonpartisan media organization that works to inform and engage Texans about public policy, politics, government and statewide issues.</p>
      </div>
    </div>
    <div class="outer-section social-wrapper">
      <div class="three">
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://support.texastribune.org" target="_blank">
        <div class="button social facebook">
          <i class="fa fa-facebook"></i> Share on Facebook
        </div>
        </a>
      </div>
      <div class="three">
        <a href="http://twitter.com/share?text=Join%20me%20in%20supporting%20the%20Tribune%E2%80%99s%20nonprofit%20newsroom%20by%20becoming%20a%20member%20today." target="_blank">
        <div class="button social twitter">
          <i class="fa fa-twitter"></i> Tweet to your followers
        </div>
        </a>
      </div>
      <div class="three">
        <a href="mailto:?&amp;subject=Join me in supporting The Texas Tribune&amp;body=Friends,%0A%0AI%20support%20The%20Texas%20Tribune%20as%20a%20member,%20and%20I%E2%80%99m%20writing%20to%20ask%20you%20to%20do%20the%20same.%20Support%20from%20people%20like%20you%20and%20me%20allows%20the%20Tribune%20%E2%80%94%C2%A0a%20member-supported,%20digitally%20focused,%20nonprofit,%20nonpartisan%20news%20organization%20%E2%80%94%20to%20inform%20and%20engage%20Texans%20with%20the%20news%20that%20matters.%20I%20hope%20you%E2%80%99ll%20join%20me%20in%20supporting%20the%20Tribune%E2%80%99s%20coverage%20of%20public%20policy,%20politics%20and%20statewide%20government.%20http://support.texastribune.org" target="_blank">
        <div class="button social email">
          <i class="fa fa-envelope"></i> Email to your friends
        </div>
      </div>
    </div>
    <div class="outer-section">
      <div class="six">
        <a href="//www.texastribune.org/"><button class="button button-flat">Go to The Texas Tribune</button></a>
      </div>
    </div>
  </div>
{% endblock %}
