{% extends "new_layout.html" %}
{% from "./includes/icon.html" import icon %}
{% block content %}
<div id="charge" class="main grid_container--m grid_padded--m">
  <section class="section-padding">
    <div class="grid_container--m grid_separator--l">
      <div class="grid_row grid_separator">
        <figure class="image_default">
          <img src="https://static.texastribune.org/media/marketing/TT-support_thankyou.png" />
        </figure>
      </div>
      <div class="grid_row">
        <div class="prose">
          <p>As a token of our appreciation, your membership includes a Proud Member sticker that we hope you’ll display with pride. If you’d like one, please <a href="http://www.tfaforms.com/4700837" target="_blank" rel="noopener noreferrer">tell us your mailing address</a>.</p>
          <p>You can help ensure the rest of Texas knows about our mission to inform and engage the public in politics and policy news by sharing your membership story now.</p>
          <p><strong>Why do you support The Texas Tribune?</strong></p>
        </div>
      </div>
      <div class="share grid_row grid_wrap--m grid_separator">
        <div class="col">
          <a ga-event-category="share" ga-event-action="twitter-intent" ga-event-label="donation charge page" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fpublish.twitter.com%2F%3FbuttonText%3D%2523ISupportTexasTribune%2520because...%2520%255BTELL%2520THE%2520WORLD%2520WHY%2520HERE%2521%255D%2520%26buttonType%3DTweetButton%26buttonUrl%3Dhttps%253A%252F%252Ftrib.it%252Ffmdgive2018%26config%3DbuttonType%253ATweetButton%252CbuttonText%253A%2523TTMembersGive%2520because%2520we%2520...%2520%2520%252CbuttonRecommendation%253Atexastribune%252CbuttonUrl%253Ahttp%253A%252F%252Ftrib.it%252FTTMembersGive%26widget%3DButton&ref_src=twsrc%5Etfw&text=%23ISupportTexasTribune%20because...%20%5BTELL%20THE%20WORLD%20WHY%20HERE!%5D%20&tw_p=tweetbutton&url=https%3A%2F%2Ftrib.it%2F1CH" target="_blank">
            <div class="button button--twitter button--l button--titlecase grid_separator">
              {{ icon('twitter', align_base=True) }} Tweet #ISupportTexasTribune
            </div>
          </a>
          <div class="prose">
            <p>Or share with your friends and family via   <a ga-event-category="share" ga-event-action="email-intent" ga-event-label="donation charge page" href="mailto:?subject=Why%20I%20support%20The%20Texas%20Tribune">email</a> or <a ga-event-category="share" ga-event-action="facebook-intent" ga-event-label="donation charge page" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftrib.it%2F1CI&app_id=154122474650943" target="_blank">Facebook</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block bottom_script %}
  <script>
    window.dataLayer.push({
      event: 'customDonationSuccess',
      gaAction: 'donation submit',
      gaLabel: '{{ gtm.event_label }}',
      gaValue: '{{ gtm.event_value }}'
    });
  </script>
{% endblock %}
