{% extends "layout.html" %}
{% block content %}
  <style>
    .masthead {
      border-bottom: 2px solid #ffc200;
    }
  </style>
  <section class="masthead">
    <a href="http://www.texastribune.org/">
      <img src="//support.texastribune.org/images/logo-02196e7d.png">
    </a>
  </section>
  <div class="main" style="padding-left: 2em; padding-right: 2em; padding-top: 1.5em !important;">
    <h3>Thanks for supporting The Texas Tribune!</h3>
    <p style="max-width: 500px; padding: 1em 0;">Your donation supports our mission as the only member-supported, digital-first, nonpartisan media organization that informs Texans — and engages with them — about public policy, politics, government and statewide issues.</p>
    <a href="//www.texastribune.org/"><button class="button button-flat">Go to The Texas Tribune</button></a>
  </div>
{% endblock %}
