{% extends "new_layout.html" %}

{% block title %}Circle Membership | The Texas Tribune{% endblock %}

{% block stylesheets %}
  {% for stylesheet in bundles['css'] %}
    <link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
  {% endfor %}
{% endblock %}

{% block content %}
  <main class="main">
    <!-- where the router component attaches -->
    <div id="app" style="display:none;"></div>

    <header class="circle-hero">
      <div class="circle-hero__inner grid_container--s grid_padded">
        <h1 class="circle-hero__title grid_separator">Join Our Circle</h1>
        <p class="circle-hero__tag">The Texas Tribune is the only member-supported, digitally focused, nonpartisan news organization that informs and engages with Texans about public policy, politics, government and statewide issues.</p>
      </div>
    </header>

    <div class="grid_padded--xl">
      <section class="circle-donate section-padding grid_separator--l">
        <header class="circle-donate__header grid_container--s grid_separator">
          <!-- IDs are for ARIA usage in the form -->
          <h2 id="circle-cta" class="circle-donate__hed grid_separator--xs">Select your Circle Membership</h2>
          <p id="circle-intro" class="circle-donate__intro">Circle Membership is a three-year commitment to provide backing for the vital work of our journalists.</p>
        </header>
        <!-- where the form attaches -->
        <div id="circle-form"></div>
      </section>
      
      <section class="circle-wall grid_container grid_separator--l">
        <div id="circle-wall"></div>
      </section>
    </div>
  </main>
{% endblock %}

{% block bottom_script %}
  <script src="https://js.stripe.com/v3/"></script>

  {% for script in bundles['js'] %}
    <script src="{{ script }}"></script>
  {% endfor %}
{% endblock %}
