{% extends "new_layout.html" %}

{% block stylesheets %}
  {% for stylesheet in bundles['css'] %}
    <link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
  {% endfor %}
{% endblock %}

{% block content %}
  <main class="main grid_padded--xl">
    <!-- where the router component attaches -->
    <div id="app" style="display:none;"></div>

    <section class="circle-donate section-padding">
      <header class="circle-donate__header grid_container--s grid_separator">
        <!-- IDs are for ARIA usage in the form -->
        <h4 id="circle-cta" class="circle-donate__hed grid_separator--xs">Select your Circle Membership</h4>
        <p id="circle-intro" class="circle-donate__intro">Circle Membership is a three-year commitment to provide backing for the vital work of our journalists.</p>
      </header>
      <!-- where the form attaches -->
      <div id="circle-form"></div>
    </section>
  </main>
{% endblock %}

{% block bottom_script %}
  <script src="https://js.stripe.com/v3/"></script>

  {% for script in bundles['js'] %}
    <script src="{{ script }}"></script>
  {% endfor %}
{% endblock %}
