{% extends "new_layout.html" %}

{% block title %}Investigative Reporting Council | The Texas Tribune{% endblock %}

{% block og_meta %}
  <meta property="og:url" content="https://support.texastribune.org/council">
  <meta property="og:image" content="https://support.texastribune.org{{ url_for('static', filename='img/social.png') }}">
  <meta property="og:title" content="Investigative Reporting Council | The Texas Tribune">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Lead a pioneering program to fund independent investigative journalism that drives accountability and ends corruption. Join The Texas Tribune Investigative Reporting Council to make your impact.">
{% endblock %}


{% block content %}
  <main class="main">
    <!-- where the router component attaches -->
    <div id="app" style="display:none;"></div>

    <!-- hero component -->
    {% with
      helperClass="",
      title="Join The Investigative Reporting Council",
      intro="Lead a pioneering program to fund independent investigative journalism that drives accountability and ends corruption. Join The Texas Tribune Investigative Reporting Council to make your impact.",
      cta="This is how you help fix Texas."
    %}
      {% include "includes/hero.html" %}
    {% endwith %}

    <div class="has-m-btm-marg grid_padded--xl l-container l-container--m">
      <section class="has-section-padding t-serif">
        <header class="has-b-btm-marg">
          <div class="border--yellow_notch"></div>
          <h2 class=" has-b-btm-marg">We’re jump-starting a new model to fund independent investigative journalism.</h2>
        </header>
        <section class="has-xxxl-btm-marg">
          <p class="has-xl-btm-marg">The Texas Tribune pioneered a new model for journalism— nonprofit and nonpartisan. Now we’re pioneering a new model to fund this specific type of high-impact investigative reporting. That’s why we’re reaching out to you — a business leader who knows how work gets done — to be one of our founders.</p>
          <h3 class="t-size-m t-sans has-xl-btm-marg">We’re creating a new model where business leaders can support action that makes Texas better through investigative reporting.</h3>
          <section class="has-xl-btm-marg">
            <h4 class="t-size-b t-sans has-b-btm-marg">A new kind of funding — a business leader coalition</h4>
            <p class="has-b-btm-marg">The Council is an organization of business leaders committed to long-term support of the investigative reporting process. Why business leaders? Because you are builders who are comfortable with a different kind of action and a different timeline:</p>
            <ul class="list--bulleted">
              <li>Investing big today to achieve upsized returns over time.</li>
              <li>Know that results need time and space to mature and drive real results.</li>
            </ul>
          </section>
          <section class="has-xl-btm-marg">
            <h4 class="t-size-b t-sans has-b-btm-marg">Long-term focus</h4>
            <p class="has-b-btm-marg">The Council is a new form of patient, long-view funding that lets us do the work that matters.</p>
            <ul class="list--bulleted has-b-btm-marg">
              <li>Stable funding to support stellar teams of the best journalists and build their careers</li>
              <li>Protection from short-term budgets, politics, annual fundraisers, and trendy media ad models</li>
              <li>Fully independent</li>
            </ul>
            <p>We’re asking for multi-year commitments (in exchange for a multi-year Council seat). As a business leader, you know the operational efficiencies and quality we can create with predictable funding.</p>
          </section>
          <section class="has-xl-btm-marg">
            <h4 class="t-size-b t-sans has-b-btm-marg">100% dedicated to investigative reporting</h4>
            <p class="has-b-btm-marg">We’re insulating the reporters from the daily pressures of the newsroom and funding to focus on long-term programs that pay off richly:</p>
            <ul class="list--bulleted has-xl-btm-marg">
              <li>Support the journalists doing cutting-edge investigative work.</li>
              <li>Enable long-timeline deep investigations.</li>
              <li>Cover Texas state-wide to produce stories with maximum impact.</li>
            </ul>
          </section>
        </section>
        <section>
          <div class="border--yellow_notch"></div>
          <h3 class="t-size-m t-sans has-xl-btm-marg">Lead a pioneering program to fund independent investigative journalism that drives accountability and ends corruption. Join the <em>Texas Tribune Investigative Reporting Council</em> to make your impact.</h3>
          <h4 class="t-size-b t-sans has-b-btm-marg">Meaningful participation for members</h4>
          <p class="has-b-btm-marg">In exchange for this form of investment, we’re creating an opportunity for you to be more than just a donor. You’ll be a member of the Texas Tribune Investigative Reporting Council:</p>
          <ul class="list--bulleted has-xxl-btm-marg">
            <li>A great credential that shows your leadership</li>
            <li>An inside view into the fascinating investigative process</li>
            <li>A carefully chosen network of leaders like you</li>
          </ul>
          <div class="form-buckets form-buckets--stacked">
            <div class="form-buckets__item has-b-btm-marg">
              <h3 class="form-buckets__header form-buckets__header--medium has-b-btm-marg--s">
                Council Member
              </h3>
              <p class="t-serif has-text-gray-dark"><span class="">1-year term</span> | $10,000</p>
            </div>
            <div class="form-buckets__item has-b-btm-marg">
              <h3 class="form-buckets__header form-buckets__header--medium has-b-btm-marg--s">
                Sustaining Council Member
              </h3>
              <p class="t-serif has-text-gray-dark"><span class="">3-year term</span> | $10,000 paid yearly</p>
            </div>
            <div class="form-buckets__item has-b-btm-marg">
              <h3 class="form-buckets__header form-buckets__header--medium has-b-btm-marg--s">
                Sustaining Council Member
              </h3>
              <p class="t-serif has-text-gray-dark"><span class="">3-year term</span> | $27,000 paid up front</p>
            </div>
          </div>

        </section>
        <section class="prose">
          <h3 class="t-size-m t-sans has-xl-btm-marg">Next Steps</h3>
          <p>Download more information here: LINK TO PDF</p>
          <p>Contact us about joining at <a href="mailto:council@texastribune.org">council@texastribune.org</a>.</p>
        </section>
      </section>
      <!--
      <section class="has-m-btm-marg has-xl-btm-marg section-padding grid_padded print__hide">
        <header>
          <div class="border--yellow_notch"></div>
          <h2 class="link--blue has-b-btm-marg">Member benefits:</h2>
        </header>

        <h3 class="smallcaps--light has-b-btm-marg"><strong>Special Recognition</strong></h3>
        <div class="prose has-xl-btm-marg">
          <p>Prominent credentials to demonstrate your community leadership. You’re a leader who stepped up to protect our civil society.</p>
        </div>

        <h3 class="smallcaps--light has-b-btm-marg"><strong>Exclusive Content</strong></h3>
        <div class="prose has-xl-btm-marg">
          <p>
            The inside scoop and access to the behind-the-scenes “how we broke the story” briefings. You will hear directly from our reporters about what it takes to work on these long investigations.
          </p>
        </div>
        <h3 class="smallcaps--light has-b-btm-marg"><strong>Community</strong></h3>
        <div class="prose">
          <p>Better business environment in a healthy, stable community with accountable leaders, trust, and fairness.</p>
        </div>
      </section>
      -->
      <!-- <div class="grid_container--l has-xl-btm-marg">
        <div id="council-wall"></div>
      </div> -->
      <!--
      <div class="has-m-btm-marg has-xl-btm-marg">
        <section>
          <div class="border--yellow_notch"></div>
          <h2 class="has-b-btm-marg">Our Members</h2>
          <section class="wall__group">
            <h3 class="wall__heading has-b-btm-marg--s"></h3>
            <ul class="wall__list">
              {% for member in wall_data %}
                <li class="wall__item">
                  <span class="wall__star c-icon c-icon--yellow c-icon--baseline">
                  <svg aria-hidden="true"><use xlink:href="#star"></use></svg></span> <span class="wall__name">{{ member }}</span>
                </li>
              {% endfor %}
            </ul>
          </section>
        </section>
      </div> -->

      <section class="has-m-btm-marg section-padding grid_padded">
        <header>
          <div class="border--yellow_notch"></div>
          <h2 class="has-b-btm-marg circle-benefits__header">Questions?</h2>
        </header>
        <div class="contact grid_row grid_wrap--l has-b-btm-marg">
          <div class="col">
            <p class="has-b-btm-marg--s">For IRC Membership, contact:</p>
            <p><strong>Irma Fernandez</strong></p>
            <p>Development Officer</p>
            <p class="has-b-btm-marg"><a href="mailto:irma.fernandez@texastribune.org">irma.fernandez@texastribune.org</a></p>
          </div>
          <div class="col">
            <p class="has-b-btm-marg--s">For major gifts or grants, contact:</p>
            <p><strong>Terry Quinn</strong></p>
            <p>Chief Development Officer</p>
            <p>512-716-8613</p>
            <p class="has-b-btm-marg"><a href="mailto:tquinn@texastribune.org">tquinn@texastribune.org</a></p>
          </div>
        </div>
        <div class="contact grid_row grid_wrap--l has-b-btm-marg--l">
          <div class="col">
            <p class="has-b-btm-marg--s">For <a href="https://www.texastribune.org/support-us/corporate-sponsors/">corporate sponsorships</a> and business membership, contact:</p>
            <p><strong>April Hinkle</strong></p>
            <p>Chief Revenue Officer</p>
            <p>512-716-8634</p>
            <p><a href="mailto:ahinkle@texastribune.org">ahinkle@texastribune.org</a></p>
          </div>
          <div class="col">
            <p class="has-b-btm-marg--s">For other membership questions, contact:</p>
            <p>512-716-8695</p>
            <p class="has-b-btm-marg"><a href="mailto:membership@texastribune.org">membership@texastribune.org</a></p>
          </div>
        </div>
      </section>

    </div>
  </main>
{% endblock %}

{% block bottom_script %}
  <script>
    window.__STRIPE_KEY__ = '{{ stripe }}';
    window.__RECAPTCHA_KEY__ = '{{ recaptcha }}';
  </script>

  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha }}"></script>
  <script>
    !function () {
      var script = document.createElement('script');
      script.async = true;
      script.src = 'https://risk.clearbit.com/v1/risk.js';
      var parent = document.getElementsByTagName('script')[0];
      parent.parentNode.insertBefore(script, parent);
    }();
  </script>

  {% for script in bundles['js'] %}
    <script src="{{ script }}"></script>
  {% endfor %}
{% endblock %}
