{% extends "new_layout.html" %}

{% block head_scripts %}
{% if form_data and message %}
<script>
  window.location.replace('#join-today');
</script>
{% endif %}
{% endblock %}

{% block content %}

  <section class="splash splash--tall grid_separator">
    <div class="grid_container grid_padded--xl">
      <div class="splash__actions grid_row grid_wrap--l">
        <div class="col_8">
          <h1 class="splash__headline">
            #TexanSince 2009 &mdash; and we‘re just <nobr>getting started.</nobr>
          </h1>
          <p class="splash__description grid_separator">Texas Tribune members invest in our nonprofit newsroom because they believe credible, nonpartisan journalism makes for a better, smarter Texas. This Fall Member Drive, help us rally 400 new members as we embark on another decade of public service journalism.</p>
          <div class="splash--buttons">
              <a class="button button--yellow" href="#join-today" ga-event-category="donations" ga-event-action="membership-intent" ga-event-label="support landing">Join us</a>
              <span class="text">or</span>
              <a class="button button--yellow" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Ftrib.it%2FGj0&amp;text=%23ISupportTexasTribune%20because...%20%5BTELL%20THE%20WORLD%20WHY%20HERE!%5D%20%20" ga-event-category="donations" ga-event-action="share" ga-event-label="support landing" target="_blank">Spread the word</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main class="main">
    <section class="grid_container grid_padded--xl grid_separator--xl">
      <div class="grid_row grid_wrap--l">
        <div class="col_8">
          <div class="member_benefits section-padding">
            {% include 'includes/benefits.html' %}
          </div>
          <div id="join-today" class="donation_form section-padding">
            <!-- where the router component attaches -->
            <div id="app" style="display:none;"></div>
            <div class="border--yellow_notch"></div>
            <h2 class="grid_separator link--teal">Become a Texas Tribune Member today</h2>
            <!-- where the form attaches -->
            <div id="top-form"></div>
          </div>
        </div>
        <div class="col_1"></div>
        <div class="col_3">
          {% include 'includes/quotes.html' %}
        </div>
      </div>
    </section>

    <section class="section-padding section-padding--filled">
      <div class="grid_separator--xl"></div>
      {% include 'includes/faq.html' %}
    </section>
  </main>
{% endblock %}

{% block bottom_script %}
<script src="https://js.stripe.com/v3/"></script>

{% if form_data and message %}
<script>
  window.__TOP_FORM_SERVER_ERROR_MESSAGE__ = {{ message|tojson }};
  window.__BASE_FORM_REHYDRATION__ = {{ form_data|tojson }};
</script>
{% endif %}

{% for script in bundles['js'] %}
  <script src="{{ script }}"></script>
{% endfor %}
{% endblock %}
