{% extends "layout.html" %}

{% block content %}
<div class="main">
  <div class="img-wrapper">
    <img src="https://s3.amazonaws.com/static.texastribune.org/media/marketing/tt-404_sorry.png" />
  </div>
  <h2>{{ message }}</h2>
  <p>If you're trying to become a member or make a donation, you can go to <a href="http://support.texastribune.org/">our membership and donation page</a> for more info on how to support us.</p>
  <p>If you're having trouble becoming a member or making a donation, you can contact us at <a href="mailto:membership@texastribune.org">membership@texastribune.org</a>.</p>
  <p>Visit <a href="http://www.texastribune.org/">The Texas Tribune homepage</a> to read and explore our content.</p>
  <p>Visit the <a href="http://www.tribtalk.org/">TribTalk homepage</a> to explore our op-ed for the 21st century.</p>
</div>
{% endblock %}
