{% extends "layout.html" %}

{% block content %}
<div class="main">
  <form action="/charge" method="post">
    <div class="form-outer-section">
      <p>Thank you for supporting The Texas Tribune!</p>
      <h2>Donation Info</h2>
      <div class="form-section three">
        <label>Amount</label><br>
          <span class="dollar">$</span>
          <input readonly name="Opportunity.Amount" value="{{ request.args.amount }}" type="number" class="dollar"><br>
          <a href="http://support.texastribune.org/">Change amount</a>
      </div>
      <div class="form-section three">
        <label>Length</label><br>
          <select name="frequency">
            <option value="one-time">One Time</option>
            <option value="until-cancelled">Until Cancelled</option>
          </select>
      </div>
    </div>
    <div class="form-outer-section">
      <h2>Name</h2>
      <div class="form-section three">
        <label>First</label><br>
          <input name="Contact.FirstName" type="text" maxlength="50">
      </div>
      <div class="form-section three">
        <label>Last</label><br>
          <input name="Contact.LastName" type="text" maxlength="50">
      </div>
    </div>
    <div class="form-outer-section">
      <h2>Billing Info</h2>
      <div class="form-section three">
        <label>Phone</label><br>
          <input name="Contact.HomePhone" maxlength="50" type="text">
      </div>
      <div class="form-section three break">
        <label>Billing Address</label><br>
          <input name="Contact.MailingStreet" type="text" maxlength="50">
      </div>
      <div class="form-section three break">
        <label>City</label><br>
          <input name="Contact.MailingCity" type="text"></input>
      </div>
      <div class="form-section three">
        <label>State</label><br>
          <input name="Contact.MailingState" type="text"></input>
      </div>
      <div class="form-section three">
        <label>Zip Code</label><br>
          <input name="Contact.MailingPostalCode" type="text" maxlength="5">
      </div>
    </div>
    <div class="form-outer-section">
      <h2>Additional Info</h2>
      <div class="form-section four">
        <label>Encouraged to contribute by</label>
          <input name="Reason" type="text" maxlength="100">
      </div>
    </div>
    <input name="Description" class="visually-hidden">
    <div class="form-outer-section">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
         data-key="{{ key }}"
         data-description="A Flask Charge"
         data-amount="{{ request.args.amount|int * 100 }}"></script>
    </div>
  </form>
</div>
{% endblock %}
