{% extends "new_layout.html" %}
{% block title %}
  {{ super() }}
{% endblock %}
{% block extra_script %}
  {{ super() }}
{% endblock %}

{% block content %}
  <section class="masthead grid_container grid_row grid_padded--xl">
    <a href="http://www.texastribune.org/" class="unlink">
      <img src="{{ url_for('static', filename='img/logo.png') }}">
    </a>
  </section>
  <section class="splash">
    <div class="grid_container">
      <div class="grid_row">

        <div class="splash_header col_6 grid_separator--l">
          <h1 class="splash_header--headline grid_separator--l">Texas Tribune members help make our elections coverage possible.</h1>
          <p class="splash_header--description">It’s our <a href="https://www.texastribune.org/about/">mission</a> to create a more engaged and informed Texas. Join our cause by becoming a Texas Tribune <nobr>member today.</nobr></p>
        </div>

        <!-- Is it kosher to use a col to spread out columns? -->
        <div class="col_1"></div>

        <div class="splash_box col_5">
          <form class="form_membership" action="/charge" method="post">
            <input name="campaign_id" id="campaign_id" value="{{ campaign_id }}" type="hidden">
              {% include 'includes/form_smd.html' %}
              {{ form.description(value='The Texas Tribune Membership') }}
          </form>
        </div>

      </div>

    </div>
  </section>
  <section class="main grid_container grid_row grid_wrap--l grid_padded--xl">
    <div class="col_9">
      <div class="grid_separator--l">
        <h2>This Spring Member Drive, help us cover the 2018 midterms.</h2>
        <div class="prose"><p>No newsroom invests more in state and local elections coverage than The Texas Tribune. If you value that reporting, help us meet our $50,000 Spring Member Drive fundraising goal by giving today.</p></div>
        <p class="smallcaps highlight">Your donation will help us ...</p>
        <ul class="info-list">
          <li><strong>Cover more ground</strong> — $15,000 — Local newsrooms cover local races. The Texas Tribune covers all the key races across Texas, from statewide to judicial to state board of education elections. Support our comprehensive reporting with your donation.</li>
          <li><strong>Have the best election night results ever</strong> — $15,000 — Tens of thousands of people rely on our data visuals team to provide election results they trust. Help us invest in even better, faster election night returns with your donation.</li>
          <li><strong>Keep an eye on Congress</strong> — $15,000 — Texas has the second-largest congressional delegation in the country. As we track the most competitive congressional races of this election cycle, our team is also keeping you informed on other critical policy areas like immigration and health care. Support our policy coverage with your donation.</li>
          <li><strong>Help you get to know the candidates running for office</strong> — $5,000 — Our Split Decision <a href="https://www.texastribune.org/series/split-decision/">video series</a> puts faces to the the names up and down your ballot, and helps you learn where the candidates stand on the issues. Help us turn out more informative videos with a donation.</li>
        </ul>
      </div>

      <div class="grid_separator--l">
        <h2>Our members are part of a growing community of civically engaged Texans.</h2>
        <div class="prose"><p>Join more than <a href="https://www.texastribune.org/support-us/donors-and-members/">3,600</a> others who are already supporting The Texas Tribune with their donations. Help us meet our goal of <strong>325 new members</strong> by giving today.</p></div>
        <p class="smallcaps highlight">Members receive ...</p>
        <ul class="info-list">
          <li>Our utmost gratitude and a special place on our <a href="https://www.texastribune.org/support-us/donors-and-members/#2018">growing donor wall</a>.</li>
          <li>Exclusive discounts to our annual <a href="https://www.texastribune.org/festival/">Texas Tribune Festival</a>, a three-day meeting of the brightest minds in politics and policy.</li>
          <li>Behind-the-scenes access to the Texas Tribune newsroom, including Q&As with our reporters and sneak peeks at special projects.</li>
        </ul>
        <div class="prose"><p>For the first time, members donating during Spring Member Drive will also receive special perks from a few of our corporate sponsors, including:</p></div>
        <ul class="info-list">
          <li>A $100 rebate on custom Texas license plates from myplates.com</li>
          <li>A special $10 annual subscription to Texas Monthly</li>
        </ul>
        <p>Discount details delivered upon donation.</p>
      </div>

      <div class="grid_separator--l">
        <h2>Texas Tribune elections coverage matters. Don’t take our word for it.</h2>
        <p>Quotes from donors TK</p>
      </div>

      <div class="grid_separator--l">
        <h2>Frequently Asked Questions</h2>
        <h3>What is a sustaining membership?</h3>
        <div class="prose"><p>A sustaining membership means your donation recurs automatically on a monthly or yearly basis via credit card. This provides the Tribune with the sort of predictable revenue that allows us to plan budgets a few years at a time, and it helps eliminate renewal mailings or lapses in your membership.</p></div>

        <h3>How can I renew my membership?</h3>
        <div class="prose"><p>Sustaining memberships automatically renew on a monthly or yearly basis. If you need to update your billing information, or your membership is up for renewal soon, please contact membership@texastribune.org.</p></div>

        <h3>What if I want to give more?</h3>
        <div class="prose"><p>For three-year commitments of $1,000 or more, join our <a href="https://support.texastribune.org/circle.html">Circle Membership</a> program.</p></div>

        <p>For major gifts or grants above XXX, contact:</p>
        <div class="contact-info">
          <h4>Terry Quinn</h4>
          <p class="italic">Chief Development Officer</p>
          <p>512-716-8613</p>
          <p><a href="mailto:tquinn@texastribune.org">tquinn@texastribune.org</a></p>
        </div>

        <p>For <a href="https://www.texastribune.org/support-us/corporate-sponsors/">corporate sponsorships</a>, contact:</p>
        <div class="contact-info">
          <h4>April Hinkle</h4>
          <p class="italic">Chief Revenue Officer</p>
          <p>512-716-8634</p>
          <p><a href="mailto:ahinkle@texastribune.org">ahinkle@texastribune.org</a></p>
        </div>

        <div><p class="prose">Still have questions? <a href="https://support.texastribune.org/faq.html">See our full FAQ</a></p></div>
      </div>
    </div>
    <div class="col_1"></div>
    <div class="col_2"></div>
  </section>
  {% include 'includes/change_installment_period_js.html' %}
  {% include 'includes/stripe_checkout_js.html' %}
  {% include 'includes/display_pay_fees.html' %}
{% endblock %}
