{% extends "layout.html" %}

{% block content %}
  <div class="main">
    <form action="/charge" method="post">
      {{ form.csrf_token }}
      <div class="form-outer-section">
        <p>Thank you for supporting The Texas Tribune by becoming a member! Click <a href="http://support.texastribune.org/">here</a> if you want to choose a different membership level. If you'd prefer to make a one-time donation, click <a href="/donateform?amount=10">here</a>.</p>
        <h2>Membership Info</h2>
        <div class="form-section three">
          <label>{% if installment_period == 'annually' %}Annual{% endif %}{% if installment_period == 'monthly' %}Monthly{% endif %} Amount</label><br>
            <span class="dollar">$</span>
            {% if amount %}
              {{ form.amount(readonly=true, value=amount, class="dollar uneditable") }}
            {% else %}
              {{ form.amount(value=10, class="dollar") }}
            {% endif %}
        </div>
        <div class="form-section three">
          <label>Membership</label><br>
            <p class="label-info">{{ installment_period|title }} Until Canceled</p>
        </div>
        {% if installment_period and amount %}
        <div class="form-section three">
          <label>Level</label><br>
          <p class="level label-info"></p>
        </div>
        {% endif %}
      </div>
      {% include 'includes/form_inner.html' %}
    </form>
  </div>
  {% if request.args.installmentPeriod and request.args.amount %}
    {% include 'includes/display_levels_js.html' %}
  {% endif %}
  {% include 'includes/stripe_checkout_js.html' %}
{% endblock %}
