{% extends "new_layout.html" %}
{% block title %}
  {{ super() }}
{% endblock %}
{% block extra_script %}
  {{ super() }}
{% endblock %}

{% block content %}
  {% include 'includes/navbar_thin.html' %}
  <section class="splash">
    <div class="grid_container grid_padded--xl">
      <div class="grid_row grid_wrap--m">

        <div class="splash_header col_6 grid_separator--l">
          <div class="splash_header--headline grid_separator--l">
            Texas Tribune <nobr>members make our</nobr>
            <br>
            <span class="rotate_words">
              <span>journalism</span>
              <span>events</span>
              <span>community</span>
              <span>mission</span>
              <span>elections coverage</span>
            </span>
            <br>
            possible.
          </div>
          <p class="splash_header--description">It’s our <a href="https://www.texastribune.org/about/">mission</a> to create a more engaged and informed Texas. Join our cause by becoming a Texas Tribune <nobr>member today.</nobr></p>
        </div>

        <div class="col_1 hide_until--l"></div>

        <div class="splash_box col_6">
          <form class="form_membership" action="/charge" method="post">
            <input name="campaign_id" id="campaign_id" value="{{ campaign_id }}" type="hidden">
              {% include 'includes/form_inner2.html' %}
              {{ form.description(value='The Texas Tribune Membership') }}
          </form>
        </div>

      </div>

    </div>
  </section>
  <section class="main grid_container grid_padded--xl">

    {% include 'includes/smd-buckets.html' %}

    <div class="member_benefits grid_row grid_wrap--l">
      <div class="col_8">
          <h2 class="grid_separator">Our members are part of a growing community of civically engaged Texans.</h2>
          <div class="prose"><p>Join more than <a href="https://www.texastribune.org/support-us/donors-and-members/">3,600</a> others who are already supporting The Texas Tribune with <nobr>their donations.</nobr> Help us meet our goal of <strong>325 new members</strong> by <nobr>giving today.</nobr></p>
          </div>
          <div class="smallcaps highlight grid_separator">Members receive ...</div>
          <!-- <p class="smallcaps grid_separator--s">Members receive ...</p> -->
          <ul class="list--bulleted">
            <li>Our utmost gratitude and a special place on our <a href="https://www.texastribune.org/support-us/donors-and-members/#2018">growing donor wall</a>.</li>
            <li>Exclusive discounts to our annual <a href="https://www.texastribune.org/festival/">Texas Tribune Festival</a>, a three-day meeting of the brightest minds in politics and policy.</li>
            <li>Behind-the-scenes access to the Texas Tribune newsroom, including Q&As with our reporters and sneak peeks at special projects.</li>
          </ul>
      </div>
      <div class="col_1 grid_separator--l"></div>
      <div class="col_3">
          {% include 'includes/member-quotes.html' %}
      </div>
    </div>

    <div class="faq grid_row grid_wrap--l grid_separator--l">
      <div class="col_8">
        <h2 class="grid_separator">Frequently Asked Questions</h2>
        <h3 class="grid_separator--s">What is a sustaining membership?</h3>
        <div class="prose grid_separator--l"><p>A sustaining membership means your donation recurs automatically on a monthly or yearly basis via credit card. This provides the Tribune with the sort of predictable revenue that allows us to plan budgets a few years at a time, and it helps eliminate renewal mailings or lapses in your membership.</p></div>

        <h3 class="grid_separator--s">How can I renew my membership?</h3>
        <div class="prose grid_separator--l"><p>Sustaining memberships automatically renew on a monthly or yearly basis. If you need to update your billing information, or your membership is up for renewal soon, please contact membership@texastribune.org.</p></div>

        <h3 class="grid_separator--s">What if I want to give more?</h3>
        <div class="prose grid_separator"><p>For three-year commitments of $1,000 or more, join our <a href="https://support.texastribune.org/circle.html">Circle Membership</a> program.</p></div>

        <div class="contact grid_row grid_wrap--l grid_separator--l">
          <div class="col">
            <p class="grid_separator--s">For major gifts or grants, contact:</p>
            <p><strong>Terry Quinn</strong></p>
            <p>Chief Development Officer</p>
            <p>512-716-8613</p>
            <p><a href="mailto:tquinn@texastribune.org">tquinn@texastribune.org</a></p>
          </div>
          <div class="col">
            <p class="grid_separator--s">For <a href="https://www.texastribune.org/support-us/corporate-sponsors/">corporate sponsorships</a>, contact:</p>
            <p><strong>April Hinkle</strong></p>
            <p>Chief Revenue Officer</p>
            <p>512-716-8634</p>
            <p><a href="mailto:ahinkle@texastribune.org">ahinkle@texastribune.org</a></p>
          </div>
        </div>

        <h3 class="grid_separator--s">Still have questions?</h3>
        <div class="prose grid_separator--l"><p><a href="https://support.texastribune.org/faq.html">See our full FAQ</a></p></div>
      </div>
      <div class="col_4"></div>
    </div>
  </section>
  {% include 'includes/change_installment_period_js.html' %}
  {% include 'includes/stripe_checkout_js.html' %}
  {% include 'includes/display_pay_fees.html' %}
{% endblock %}
