{% extends "new_layout.html" %}
{% block title %}
  {{ super() }}
{% endblock %}
{% block extra_script %}
  {{ super() }}
{% endblock %}

{% block content %}
  <section class="masthead">
    <div class="grid_container grid_row">
      <a href="http://www.texastribune.org/" class="unlink">
        <img src="{{ url_for('static', filename='img/logo.png') }}">
      </a>
    </div>
  </section>
  <section class="splash grid_separator--l">
    <div class="grid_container">
      <div class="grid">
        <div class="splash_header">
          <header class=" grid_separator--l">
            <h1 class="grid_separator--l">Texas Tribune members help make our elections coverage possible.</h1>
            <p>It’s our <a href="https://www.texastribune.org/about/">mission</a> to create a more engaged and informed Texas. Join our cause by becoming a Texas Tribune <nobr>member today.</nobr></p>
          </header>
        </div>
        <div class="splash_box">
          <form action="/charge" method="post">
            <input name="campaign_id" id="campaign_id" value="{{ campaign_id }}" type="hidden">
              <h2 class="grid_separator">I'm ready to give...</h2>
              <div class="grid_separator--l">
                <div class="grid_row grid_separator">
                  <div class="col">
                    <span class="dollar">$</span>
                    {{ form.amount(value=amount, autocomplete="off", class="dollar") }}
                  </div>
                </div>
                <div class="form-section grid_row">
                  <label for="installment_period">Membership Type</label>
                  <br>
                </div>
                <div class="radio_toggle grid_separator">
                  {{ form.installment_period }}
                </div>
              </div>
              {% include 'includes/form_inner2.html' %}
              {{ form.description(value='The Texas Tribune Membership') }}
          </form>
        </div>
      </div>

    </div>
  </section>
  <section class="main grid_container grid_row grid_wrap--l">
    <div class="col_9">
      <div class="grid_separator--l">
        <h3>This Spring Member Drive, help us cover the 2018 midterms.</h3>
        <p>No newsroom invests more in state and local elections coverage than The Texas Tribune. If you value that reporting, help us meet our $50,000 Spring Member Drive fundraising goal by giving today. Your donation will help us ...</p>
        <ul class="info-list">
          <li><strong>Cover more ground</strong> — $15,000 — Local newsrooms cover local races. The Texas Tribune covers all the key races across Texas, from statewide to judicial to state board of education elections. Support our comprehensive reporting with your donation.</li>
          <li><strong>Have the best election night results ever</strong> — $15,000 — Tens of thousands of people rely on our data visuals team to provide election results they trust. Help us invest in even better, faster election night returns with your donation.</li>
          <li><strong>Keep an eye on Congress</strong> — $15,000 — Texas has the second-largest congressional delegation in the country. As we track the most competitive congressional races of this election cycle, our team is also keeping you informed on other critical policy areas like immigration and health care. Support our policy coverage with your donation.</li>
          <li><strong>Help you get to know the candidates running for office</strong> — $5,000 — Our Split Decision <a href="https://www.texastribune.org/series/split-decision/">video series</a> puts faces to the the names up and down your ballot, and helps you learn where the candidates stand on the issues. Help us turn out more informative videos with a donation.</li>
        </ul>
      </div>

      <div class="grid_separator--l">
        <h3>Our members are part of a growing community of civically engaged Texans.</h3>
        <p>Join more than <a href="https://www.texastribune.org/support-us/donors-and-members/">3,600</a> others who are already supporting The Texas Tribune with their donations. Help us meet our goal of <strong>325 new members</strong> by giving today. Members receive:</p>
        <ul class="info-list">
          <li>Our utmost gratitude and a special place on our <a href="https://www.texastribune.org/support-us/donors-and-members/#2018">growing donor wall</a>.</li>
          <li>Exclusive discounts to our annual <a href="https://www.texastribune.org/festival/">Texas Tribune Festival</a>, a three-day meeting of the brightest minds in politics and policy.</li>
          <li>Behind-the-scenes access to the Texas Tribune newsroom, including Q&As with our reporters and sneak peeks at special projects.</li>
        </ul>
        <p>For the first time, members donating during Spring Member Drive will also receive special perks from a few of our corporate sponsors, including:</p>
        <ul class="info-list">
          <li>A $100 rebate on custom Texas license plates from myplates.com</li>
          <li>A special $10 annual subscription to Texas Monthly</li>
        </ul>
        <p>Discount details delivered upon donation.</p>
      </div>

      <div class="grid_separator--l">
        <h3>Texas Tribune elections coverage matters. Don’t take our word for it.</h3>
        <p>Quotes from donors TK</p>
      </div>
    </div>
    <nav class="col_3">
      <ul class="widget_nav grid_separator">
        <a href="https://support.texastribune.org/levels.html"><li class="widget_nav--list">Explore Levels</li></a>
        <a href="https://support.texastribune.org/circle.html"><li class="widget_nav--list">Circle Membership</li></a>
        <a href="https://www.texastribune.org/support-us/donors-and-members/"><li class="widget_nav--list">Donor and Member Wall</li></a>
        <a href="https://www.texastribune.org/support-us/corporate-sponsors/"><li class="widget_nav--list">Corporate Sponsors</li></a>
        <a href="https://support.texastribune.org/faq.html"><li class="widget_nav--list">Frequently Asked Questions</li></a>
      </ul>
    </nav>
  </section>
  {% include 'includes/change_installment_period_js.html' %}
  {% include 'includes/stripe_checkout_js.html' %}
  {% include 'includes/display_pay_fees.html' %}
{% endblock %}
