{% extends "new_layout.html" %}

{% block stylesheets %}
  {% for stylesheet in bundles['css'] %}
    <link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
  {% endfor %}
{% endblock %}

{% block content %}
  <section class="splash grid_separator">
    <div class="grid_container grid_padded--xl">
      <div class="grid_row grid_wrap--l">
        <header class="splash_header col_8">
          <h1 class="splash_header--headline grid_separator">
            Texas Tribune members support our&nbsp;
            <span class="rotate_words">
              <span>journalism.</span>
              <span>events.</span>
              <span>community.</span>
              <span>mission.</span>
            </span>
          </h1>
          <p class="splash_header--description grid_separator--s">Do you value credible, nonpartisan journalism in the <nobr>public interest?</nobr></p>
          <a class="button button--yellow grid_separator" href="#join-today">Show us with your support</a>
        </header>
      </div>
    </div>
  </section>

  <main class="main">
    <section class="grid_container grid_padded--xl grid_separator--xl">
      <div class="grid_row grid_wrap--l">
        <div class="col_8">
          <div class="member_benefits section-padding">
            <div class="border--yellow_notch"></div>
            <h2 class="grid_separator">Our members are part of a growing community of civically engaged Texans.</h2>
            <div class="prose">
              <p>As a <a href="https://www.texastribune.org/about">nonprofit newsroom</a>, we rely on members to help keep our stories free and our events open to the public. Join <a href="https://www.texastribune.org/support-us/donors-and-members/">thousands</a> who already support The Texas Tribune with <nobr>their donations.</nobr></p>
            </div>
            <div class="smallcaps grid_separator">Members receive ...</div>
            <ul class="list--bulleted">
              <li>Behind-the-scenes access to the Texas Tribune newsroom, including Q&As with our reporters and sneak peeks at special projects.</li>
              <li>$50 off <a href="https://festival.texastribune.org/">Texas Tribune Festival</a> badges, as well as priority entry to all panel dicsussions. Texas Tribune Festival is our annual, three-day meeting of the brightest minds in politics and policy — an opportunity to connect with people, like you, who care about the future of Texas. <a href="https://festival.texastribune.org/registration">Register here</a>.</li>
              <li>Our utmost gratitude and a special place on our <a href="https://www.texastribune.org/support-us/donors-and-members/#2018">growing donor wall</a>.</li>
            </ul>
          </div>
          <div id="join-today" class="donation_form section-padding">
            <!-- where the router component attaches -->
            <div id="app" style="display:none;"></div>
            <div class="border--yellow_notch"></div>
            <h2 class="grid_separator">Become a Texas Tribune Member today</h2>
            <!-- where the form attaches -->
            <div id="top-form"></div>
          </div>
        </div>
        <div class="col_1"></div>
        <div class="col_3">
          {% include 'includes/member-quotes.html' %}
        </div>
      </div>
    </section>

    <section class="faq section-padding">
      <div class="grid_separator--xl"></div>
      <div class="grid_container grid_padded--xl">
        <div class="grid_row grid_wrap--l grid_separator--l">
          <div class="col_8">
            <div class="border--yellow_notch"></div>
            <h2 class="grid_separator">Frequently Asked Questions</h2>
            <h4 class="grid_separator--s">What is a sustaining membership?</h4>
            <div class="prose grid_separator--l"><p>A sustaining membership means your donation recurs automatically on a monthly or yearly basis via credit card. This provides the Tribune with the sort of predictable revenue that allows us to plan budgets a few years at a time, and it helps eliminate renewal mailings or lapses in your membership.</p></div>

            <h4 class="grid_separator--s">How can I renew my membership?</h4>
            <div class="prose grid_separator--l"><p>Sustaining memberships automatically renew on a monthly or yearly basis. If you need to update your billing information, or your membership is up for renewal soon, please contact <a href="mailto:membership@texastribune.org">membership@texastribune.org</a>.</p></div>

            <h4 class="grid_separator--s">Can I send my donation by mail?</h4>
            <div class="prose grid_separator"><p>Yes! Simply fill out <a href="https://static.texastribune.org/media/marketing/TT-919-Membership_Contribution_Form.pdf">this donation form</a> and mail it to: </p></div>

            <div class="contact grid_row grid_separator--l">
              <div class="col">
                <p><strong>Texas Tribune Membership</strong></p>
                <p>919 Congress Avenue</p>
                <p>Sixth Floor</p>
                <p>Austin, Texas 78701</p>
              </div>
            </div>

            <h4 class="grid_separator--s">What if I want to give more?</h4>
            <div class="prose grid_separator"><p>For three-year commitments of $1,000 or more, join our <a href="https://support.texastribune.org/circle.html">Circle Membership</a> program. To make a tax-deductible gift in the name of a business, contact April Hinkle to join our Business Membership program.</p></div>

            <div class="contact grid_row grid_wrap--l grid_separator--l">
              <div class="col">
                <p class="grid_separator--s">For <a href="https://www.texastribune.org/support-us/corporate-sponsors/">corporate sponsorships</a> and business membership, contact:</p>
                <p><strong>April Hinkle</strong></p>
                <p>Chief Revenue Officer</p>
                <p>512-716-8634</p>
                <p><a href="mailto:ahinkle@texastribune.org">ahinkle@texastribune.org</a></p>
              </div>
              <div class="col">
                <p class="grid_separator--l">For major gifts or grants, contact:</p>
                <p><strong>Terry Quinn</strong></p>
                <p>Chief Development Officer</p>
                <p>512-716-8613</p>
                <p><a href="mailto:tquinn@texastribune.org">tquinn@texastribune.org</a></p>
              </div>
            </div>

            <h4 class="grid_separator--s">Still have questions?</h4>
            <div class="contact grid_row grid_wrap--l grid_separator--l">
              <div class="col">
                <p class="grid_separator--s">For questions about your current membership, contact:</p>
                <p><strong>Peter Hunt</strong></p>
                <p>Member Relations</p>
                <p>512-716-8695</p>
                <p class="grid_separator"><a href="mailto:phunt@texastribune.org">phunt@texastribune.org</a></p>

                <p class="">Or see our <a href="https://support.texastribune.org/faq.html">full FAQ</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>


{% endblock %}

{% block bottom_script %}
  <script src="https://js.stripe.com/v3/"></script>

  {% for script in bundles['js'] %}
    <script src="{{ script }}"></script>
  {% endfor %}
{% endblock %}
