{% extends "layout.html" %}

{% block content %}
  <div class="main">
    <form action="/charge" method="post">
      <div class="form-outer-section">
        <p>Thank you for supporting The Texas Tribune by becoming a member! Click <a href="http://support.texastribune.org/">here</a> if you want to choose a different membership level. If you'd prefer to make a one-time donation, click <a href="/donateform?amount=10">here</a>.</p>
        <h2>Membership Info</h2>
        <div class="form-section three">
          <label>{{ request.args.installmentPeriod }} Amount</label><br>
            <span class="dollar">$</span>
            {% if request.args.amount %}
              <input readonly name="Opportunity.Amount" value="{{ request.args.amount }}" type="number" class="dollar uneditable">
            {% else %}
              <input name="Opportunity.Amount" value="10" type="number" class="dollar">
            {% endif %}
        </div>
        <div class="form-section three">
          <label>Length</label><br>
            <select name="OpenEndedStatus" class="label-info">
              <option value="Open">Until Cancelled</option>
            </select>
        </div>
        {% if request.args.installmentPeriod and request.args.amount %}
        <div class="form-section three">
          <label>Level</label><br>
          <p class="level label-info"></p>
        </div>
        {% endif %}
      </div>

      {% include 'includes/form_inner.html' %}

    </form>
  </div>
  {% if request.args.installmentPeriod and request.args.amount %}
    {% include 'includes/display_levels_js.html' %}
  {% endif %}
  {% include 'includes/stripe_checkout_js.html' %}
{% endblock %}
