<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{% block title %}Support Us | The Texas Tribune{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    {% block og_meta %}
      <meta property="og:url" content="https://support.texastribune.org/donate">
      <meta property="og:image" content="https://support.texastribune.org{{ url_for('static', filename='img/social.png') }}">
      <meta property="og:title" content="Support Us | The Texas Tribune">
      <meta property="og:type" content="website">
      <meta property="og:description" content="At The Texas Tribune, members make all the difference. Join me in supporting the Tribune’s nonprofit newsroom by becoming a member today.">
    {% endblock %}

    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://static.texastribune.org/media/icons/iPhone_Icon_60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://static.texastribune.org/media/icons/iPad_Icon_76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://static.texastribune.org/media/icons/iPhone_Icon_120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://static.texastribune.org/media/icons/iPad_Icon_152x152.png">

    {% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="{{ bundles['css'] }}">
    {% endblock %}

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P5L2Z5Z');</script>

    <!-- Global site tag (gtag.js) - Google AdWords: 1018212315 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1018212315"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-1018212315');
    </script>

    {% block adwords_conversion_code %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Open Sans:400,700', 'PT Serif:400,700']
        }
      });
    </script>

    {% block head_scripts %}{% endblock %}
  </head>
  <body>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5L2Z5Z" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    {% block icon_sprite %}
      {# SVG sprite include #}
      <div style="display:none;">
        {% include "includes/base_icons.html" %}
      </div>
    {% endblock %}

    {% include 'includes/navbar_thin.html' %}

    {% block content %}{% endblock %}

    {% include 'includes/footer.html' %}

    <script>
      window.__STRIPE_KEY__ = '{{ key }}';
    </script>

    {% block bottom_script %}{% endblock %}
  </body>
</html>
