.prose {
  p {
    @include font-setting('secondary');
    @extend %link--blue;
    color: $color-black-off;
    line-height: 1.4;
    margin: $size-b 0;

    &:first-of-type {
      margin: 0 0 $size-b;
    }
  }
}

// Smallhead: <h5>
// Examples: Mini-headers, byline & button text
.smallcaps {
  color: $color-black-pure;
  font-weight: 700;
  letter-spacing: .03em;
  padding: .2em 0;
  text-transform: uppercase;

  // Byline
  &--light {
    color: $color-gray-dark;
    font-size: $size-xs;
    font-weight: 400;
    letter-spacing: .05em;
    text-transform: uppercase;

    @include mq($until: bp-l) {
      font-size: $size-s;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:active,
      &:hover {
        color: $color-teal-gray;
        text-decoration: none;
      }
    }
  }

  &--teal {
    @extend .smallcaps;
    color: $color-teal-gray;
  }

  &--white {
    @extend .smallcaps;
    color: $color-white-pure;
    letter-spacing: .05em;
  }

  &--section {
    @extend .smallcaps--light;
    font-size: $size-s;
    margin-bottom: $size-b/4;
  }

  &--section__header {
    @extend .smallcaps--light;
    border-top: 2px solid $color-black-off;
    color: $color-gray-dark;
    font-size: $size-s;
    padding-top: $size-b/4;
  }
}

// Subtext: <p>
// Examples: Grayed text below smallcaps, comment policy
.subtext {
  @extend %link--blue;
  color: $color-gray-dark;
  font-size: $size-xs;
  font-weight: 400;
  padding: 0;
}

.list--bulleted {
  @include font-setting('secondary');

  li {
    @extend %link--blue;
    font-size: $size-b;
    margin: $size-b 0 0 $size-m;

    &:first-child {
      margin-top: 0;
    }
  }

  ul li:first-child {
    margin-top: $size-b;
  }
}

.highlight {
  background-color: $color-yellow-tribune;
  display: inline-block;
  padding-left: $size-xxs;
  padding-right: $size-xxs;
}
