// same as ds-toolbox-base (with some overrides)
@import '@texastribune/queso-ui/assets/scss/1-settings/all';
@import '1-settings/colors-waco'; // color overrides (need to include for utility classes)
@import '@texastribune/queso-ui/assets/scss/2-tools/all';
@import '@texastribune/queso-ui/assets/scss/5-typography/t-helpers';
@import '@texastribune/queso-ui/assets/scss/5-typography/t-size';
@import '@texastribune/queso-ui/assets/scss/5-typography/links';
@import '@texastribune/queso-ui/assets/scss/6-components/icon/icon';
@import '@texastribune/queso-ui/assets/scss/6-components/button/button';
@import '@texastribune/queso-ui/assets/scss/6-components/navbar/navbar';
@import '@texastribune/queso-ui/assets/scss/6-components/site-footer/site-footer';
@import '@texastribune/queso-ui/assets/scss/7-layout/align';
@import '@texastribune/queso-ui/assets/scss/7-layout/container';
@import '@texastribune/queso-ui/assets/scss/7-layout/height';
@import '@texastribune/queso-ui/assets/scss/7-layout/display';
@import '@texastribune/queso-ui/assets/scss/7-layout/position';
@import '@texastribune/queso-ui/assets/scss/utilities/color-helpers';
@import '@texastribune/queso-ui/assets/scss/utilities/hidden';
@import '@texastribune/queso-ui/assets/scss/utilities/notch';
@import '@texastribune/queso-ui/assets/scss/utilities/spacing';
@import '@texastribune/queso-ui/assets/scss/utilities/sr-only';

@import '1-settings/all';
@import '1-settings/colors-waco'; // color overrides
@import '1-settings/fonts-waco'; // font overrides
@import '2-tools/all';
@import '3-generic/all';
@import '4-elements/all';

// Include components & typography as needed
@import '5-typography/links';
@import '5-typography/typography';

// typography overrides
.prose {
  p {
    @include font-setting('primary');
  }
}
.list--bulleted {
  @include font-setting('primary');
}

@import '6-components/buttons';
@import '6-components/contact';
@import '6-components/faq';
@import '6-components/footer';
@import '6-components/forms';
@import '6-components/images';
@import '6-components/splash';
@import '6-components/quotes';
@import '6-components/rotate-words';
@import '6-components/smd';
@import '6-components/thermometer';

// used for promotional messages
@import './ds/6-components/message';

@import '7-utilities/all';

// This doesn't quite fit anywhere
// @todo - Implement typography standard
h2 {
  @include mq($until: bp-m) {
    font-size: 1.3rem;
  }
}

.gap-s {
  gap: $size-s;
}

// template overrides

 body {
  color: $color-black-off;
  -webkit-font-smoothing: antialiased;
 }

.c-navbar-newsroom {
  border-bottom: 2px solid #d6d5a0;
  padding: 1rem 0;
  margin-bottom: 3rem;

  &__inner {
    margin: auto;
    max-width: 90vw;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 150px;
  }

  &__menu-btn {
    background-color: transparent;
    border: none;
  }

  @media (min-width: 768px) {
    &__logo {
      width: 200px;
    }
  }
}

.c-footer-newsroom {
  &__inner {
    list-style: none;
    // layout TK
    margin: auto;
    max-width: 90vw;
    padding: clamp(2rem, -1.06rem + 10.2vw, 5.06rem);
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    word-break: break-word;
  }
  &__logo {
    width: 150px;
  }
  &__list-top {
    font-size: 15px;
    line-height: 26px;
  }
  &__list-btm {
    font-size: 11px;
    line-height: 19.2px;
  }
  @media (min-width: 768px) {
    &__list-top {
      font-size: 16px;

    }
    &__list-btm {
      font-size: 12px;
    }
  }
  ul {
    list-style: none;

    a {
      text-decoration: underline;
    }
  }
}

.button--yellow {
  color: #fff;
}
