.c-appeal {
  list-style: none;
  padding-bottom: $size-giant;

  @include mq($until: bp-l) {
    padding-top: $size-xxl;
  }

  &__item {
    display: flex;

    .c-icon {
      margin-right: $size-xxs;
      margin-top: 0.25rem;
    }

    &--no {
      opacity: .5;
    }
  }
}
