.c-summary-box {
  border-bottom: 2px solid $color-white-off;
  padding: 0 0 $size-xl 0;

  @include mq($until: bp-l) {
    background: $color-white-pure;
    border: 1px solid $color-gray-light;
    border-radius: 3px;
    padding: 0;

    &.is-expired {
      border: 3px solid $color-error;
    }

    &__top {
      padding: $size-xl $size-b;
    }

    &__bottom {
      border-top: 1px solid $color-gray-light;
      padding: $size-b;
    }
  }
}
